[2017-02-23 20:22] #936 closed

[2017-02-23 20:53] jbaiera commented on #939
@kumarlalapet Could you increase the logging level of ES-Hadoop to trace and post the job logs here? Also, ES-Hadoop 5.0 may not be fully forwards compatible with ES 5.2.0. I would make sure to keep your ES-Hadoop library version above your ES version to ensure maximum compatibility.

[2017-02-23 20:59] jbaiera commented on #938
This seems to me to be an oversight in how the mapping code handles mappings. I also believe this is related to potential errors in the serialization layer as discovered in #850.

[2017-02-24 00:41] cjuexuan commented on #915
@jbaiera ，thanks

[2017-02-24 15:15] kumarlalapet commented on #939
@jbaiera Thank you for your response. Will do the same. In the meantime, it seems to work with the following settings

[code]
The only difference I set the use ssl to false. Is this the correct configuration? Like I mentioned the ES nodes are front ended with a Load Balancer, will the communication from Spark to LB be encrypted with the above setting even when use ssl is set to false?

[2017-02-24 18:24] kumarlalapet commented on #939
@jbaiera This is what I found so far

Like I mentioned I have 3 nodes no SSL for these. Front ended by a load balancer which has SSL enabled.

Scenario  - provides load balancer as the es node, and es.net.ssl as true. Following is the trace

[code]

As you could see above its connecting to LB with SSL and with the auth provided. 200 - OK. returned the cluster name etc. Now node discovery

[code]

[2017-02-24 20:54] kumarlalapet commented on #939
@jbaiera I got this information form the doc and seems to be pertaining to my issue here

https://www.elastic.co/guide/en/elasticsearch/hadoop/master/configuration.html

So by default the API is doing node discovery via the LB (SSL is fine here as its SSL based) and once it got the node details. Its trying to connect to one of the node via SSL where as the node is just plain HTTP based. Thats why

[2017-02-24 21:03] jbaiera commented on #939
@kumarlalapet You literally just beat me to the punch! re: the `es.nodes.wan.only` setting.

As for performance penalty: In this case you'll be mostly limited by the available network resources of your load balancer. Normal execution of the connector would allow tasks to communicate with each of the nodes separately and directly, but in this case all traffic will be routed through the load balance

[2017-02-24 21:05] jbaiera commented on #939
Considering the issue is resolved with configuration changes, I'm going to close this issue. If you have any other questions, feel free to ask.

[2017-02-24 21:05] #939 closed

[2017-02-24 21:28] kumarlalapet commented on #939
@jbaiera thank you for the explanation.

I have a follow on question. Say I dont want the wan only setting to true. And want that SSL as well. So do I need to make the nodes in ES to be SSL enabled?

So that  means communication to LB is SSL. And from LB to nodes is also SSL. But not the intra node communication. How can I make that happen?

[2017-02-24 22:35] kumarlalapet commented on #939
@jbaiera and another question. Is there a difference in behavior between the es-hadoop-rest vs the java-rest-client. The reason I ask is, I do not see the wan only setting in the RestClientBuilder  from the following package

            <groupId>org.elasticsearch.client</groupId>
            <artifactId>rest</artifactId>

[2017-02-27 04:05] koldkoder opened #941 "Issues with connecting to ES running locally"
I am trying to use ESBolt to write data to ElasticSearch.  I have started ES instance locally inside a docker, as below.

I am using elasticsearch-storm dependency in my pom file

        <dependency>
            <groupId>org.elasticsearch</groupId>
            <artifactId>elasticsearch-storm</artifactId>
            <version>5.2.1</version>
        </dependency>

This is what my EsBolt looks like

[2017-02-27 20:50] cvjones17 opened #942 "Large number of fields in ES index exceeds URL query parameter length"
### What kind an issue is this?

- [] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ X] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2017-02-27 20:51] jbaiera commented on #939
@kumarlalapet When using a proxy for communicating with Elasticsearch, you'll need to make a decision on how you want that proxy to behave: Either the proxy is an open proxy, which your hadoop tasks are using in order to forward tasks to nodes they are already aware of, or it's a reverse proxy, which your hadoop tasks are using as a surrogate for the entire Elasticsearch cluster.

If you wish to u

[2017-02-27 20:58] jbaiera commented on #942
Right now there's no switch to convert the query parameters on the end of the scroll request to query DSL. I think it makes most sense to transition to submitting the search request as an HTTP body using the DSL instead of loading it all into the URL for resiliency purposes. I'll mark this as a bug until that gets resolved.

[2017-02-27 21:04] jbaiera opened #943 "Convert search requests to use QueryDSL instead of URL params."
### Feature description

In certain circumstances, a search request URL can grow beyond the maximum URL length. This is because we leverage certain framework schemas as a way to perform field projection to the underlying ES cluster by setting field names in the `_source` filter field. In situations where some users are interacting with very very large schemas with field names that are rather long,

[2017-02-27 21:04] jbaiera commented on #942
I opened #943

[2017-02-28 03:47] takezoe opened #944 "Operation after cache() and take() waits infenitely in Spark 1.6.3"
## Environment

- OS: MacOS X
- JVM: 1.8.0_31-b13
- Hadoop/Spark: Spark 1.6.3 (local mode)
- ES-Hadoop: elasticsearch-spark-13 5.2.1
- ES: 5.2.1

## Code

[code]

## Results

It works well on Spark 2.0, but waits infinitely after output of (1) in above code on Spark 1.6 with following output:

[code]

and it works well if I remove `cache()` invocation.

[2017-02-28 08:32] MainAero opened #945 "Hive "es.read.field.as.array.include" setting for fields that are sometimes array or string"
Using Hadoop 2.7.1, Hive 2.1.1, ES-Hadoop 5.2.1

Like in #856 I've fields in my dataset that are sometimes array (array of strings) or string.

Example:
[code]

In hive I created an external table:
[code]

As you can see I'm using the `es.read.field.as.array.include` to expect that the field `FIELDA` will be always read as array.

But when I execute a query:
[code]
it throws this exception:
[code]

[2017-02-28 17:33] ebuildy commented on #941
Hello,

Your Docker ES has 2 IP, the container IP, and the host IP where you bind the port 9200.

It works like Zookeeper does:

1) Client --> elasticsearch (who are you ? tell me your data nodes please ?)
2) ES --> client (I am v2.4, here my data nodes: LOCAL_IP)
3) client --> LOCAL_IP (haaa where are you ??)

All that to say, use:

``es.nodes.wan.only=true`` ;-)

So Es4Hadoop will not sniffing d

[2017-02-28 17:39] ebuildy opened #946 "Spark JavaRDD give partial documents"
### What kind an issue is this?

Bug report

### Issue description

Using Spark and JavaRDD, documents returned are missing fields !

Posted first here: https://discuss.elastic.co/t/bug-when-reading-if-a-field-has-no-mapping-empty-array-by-ex/76393.

### Steps to reproduce

Code:

Create a dummy index:

[code]

Query it via Spark shell:

[code]

It looks like es4Hadoop parse mapping to figure out

[2017-02-28 18:43] ebuildy commented on #946
Gloups, specifying ``index/type`` fix this weird behaviour 🥇 yeah !!

Is it a bug or index/type is required?

[2017-02-28 22:23] kumarlalapet commented on #939
@jbaiera This is a great explanation. Thank you so much.

This is was I was getting before. In this case either the nodes should be SSL or the proxy should be a SSL termination proxy. Can you provide examples for both the setup? I mean what settings to be done in the code.

Thank you.

[2017-02-28 23:45] kumarlalapet commented on #939
@jbaiera

The java-rest-client - does it do the three calls like the hadoop rest client? The ES server check, node discovery and connecting to the node? Or it just talks to the proxy and thats it? Is there a wanonly setting in the java-rest-client ?

[2017-03-01 12:47] lhsoft opened #947 "Spark to ES error"
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2017-03-02 02:40] takezoe commented on #944
Sorry. I found this is a problem in Spark side.

[2017-03-02 02:40] #944 closed

[2017-03-02 16:22] jbaiera commented on #939
@kumarlalapet regarding SSL configuration on the Elasticsearch side, [this guide](https://www.elastic.co/guide/en/x-pack/current/ssl-tls.html) is all that I'm aware of. Configuring SSL termination on your proxy depends entirely on what technology you are using for your proxy.

Regarding the java-rest-client: I don't believe it contains an _option_ for a WAN-Only mode. The official client includes

[2017-03-02 18:54] ndimiduk opened #948 "nested documents not supported in spark connector"
### What kind an issue is this?

- [X] Bug report.

### Issue description

Queries to indices containing arrays of [nested](https://www.elastic.co/guide/en/elasticsearch/reference/current/nested.html) objects fail. It appears the data returned for the nested documents are of type `ScalaEsRow`, which is not supported as an `Array` type by Catalyst.

Strack trace:

[code]

### Version Info

OS:

[2017-03-06 01:59] sujee81 commented on #948
I encountered the same issue for nested documents. For now, I used         options.put("es.read.field.exclude", "field_name"); to exclude the nested field.

Spark version: 2.1.0
es-hadoop: 5.2.2

[2017-03-06 14:16] halilduygulu commented on #704
For googlers, you can just add this exclude one of them.

`"org.elasticsearch" % "elasticsearch-spark-20_2.10" % "5.2.2"`
   ` exclude ("org.slf4j", "log4j-over-slf4j")`

[2017-03-06 21:08] ndimiduk commented on #948
Unfortunately excluding these arrays is not an option for my use-case.

[2017-03-07 12:59] drudim commented on #924
@jbaiera any updates on this one?

[2017-03-08 00:57] takezoe opened #949 "DateIndexFormatterTest fails on my timezone"
In my local environment (default timezone is JST), [DateIndexFormatterTest](https://github.com/elastic/elasticsearch-hadoop/blob/b7ea331ebf4727b48e789e4ddd75e24c221602a2/mr/src/test/java/org/elasticsearch/hadoop/serialization/field/DateIndexFormatterTest.java) fails as following:

[code]

In details, expected: is "2014.10.06" but: was "2014.10.07".

I would like to fix this test, but I don't know

[2017-03-08 04:15] sujee81 opened #950 "Date filters are not push-down"
- [x] Bug report

### Issue description

- Date filters are not pushed down to ES query when java.sql.Date is used.
- Filters with java.sql.Timestamp are pushed down but fails due to ES "strict_date" format.

### Steps to reproduce

ES:
[code]

Spark (Java):
[code]

As shown in the log below, "leq" is not pushdown.
[code]

However java.sql.Timestamp filters are pushed down.
[code]
[code]

But fail

[2017-03-08 07:24] jbaiera commented on #946
@ebuildy There should really be a check to make sure there is both an index and a type available when setting the `es.resource` for the connector. It looks like it's pretty lax about that right now, but it's also technically a contract change for the connector.

[2017-03-08 07:36] jbaiera commented on #945
Definitely looks like the same issue as #856. I've updated the tags on the ticket and will link back here when a fix is available. Thanks for reporting @MainAero!

[2017-03-08 07:55] jbaiera commented on #921
@zcola I have run into the same issue while testing some changes to the HDFS Repository Plugin in 5.2.

In your settings you are trying to pass configuration files to the plugin :
[code]
but I do not believe these are affecting the underlying configuration in they way you think it might be. Instead of adding those files as sources for the configuration, these lines are just setting two properties

[2017-03-15 18:15] jbaiera commented on #950
The reason in this case that the Timestamp field pushdown fails is because ES-Hadoop only supports the `date_time_no_millis` format in Elasticsearch.

As for the reason for why java.sql.Date does not push down, this seems to be an issue with how Spark performs compatibility casting. When reading data from Elasticsearch in order to discover the mapping of a field, the schema notes that the `dateOfB

[2017-03-15 18:18] jbaiera commented on #949
@takezoe I'll dig around a bit to see if I can provide an answer to what's expected. Timezones are a tricky subject to get right. As for why there exists a runtime bridge in DateUtils: My guess is because JodaTime has proven to be generally better at parsing date information than the facilities that are available in the JDK, often times supporting a wider amount of the available standards.

[2017-03-15 18:20] jbaiera commented on #941
I'm going to mark this as resolved since there has been no follow up from the original author.

[2017-03-15 18:20] #941 closed

[2017-03-17 10:24] sujee81 commented on #950
Thank you @jbaiera
Yes, I also noticed the casting when using Date filter. Any plans to support other ES date formats like "strict_date" ?

[2017-03-17 21:00] mikej1688 commented on #921
security.manager.enabled: false
Why should the security manager be set to false?
because you added kerberos to manage the security instead, no need to let java security manager do the job?
Up to now, I have not seen a successful case for creating hdfs repository with security manager enabled. Is it possible?

[2017-03-17 21:21] jbaiera commented on #921
@mikej1688 Authenticating to a remote service such as Kerberos is not the same as code level security. Code level security dictates that the author of the code executing may not be you, and thus, may need to be kept from performing certain actions as you. This is different from proving you are who you say you are to an external service. The HDFS client executes quite a bit of code that requires a

[2017-03-17 21:42] jbaiera commented on #950
@sujee81 I'm sorry, but for the time being there are no plans to extend the date formatting logic. Date parsing and formatting is an incredibly difficult problem that we've historically taken a hardline stance on not trying to make overly complicated in the connector. Elasticsearch maintains it's own logic for the handling of dates, which we do not depend on for purposes of keeping the connector s

[2017-03-18 15:47] mikej1688 commented on #921
Thanks for the explanation.
Currently we cannot upgrade to 5.x since there is an outstanding snapshot
creation issue even in the latest 5.2.2 version. It was said by ES
consultant that the issue might be fixed in the incoming 5.3. but we cannot
rely upon the uncertainty.
Thus my question is: in 2.x version, is it a security hole when we have
security.manager.enabled :  false?
If yes, how can we av

[2017-03-18 23:51] sujee81 commented on #950
Thank you @jbaiera. I understand the reason of keeping the connector simple.

[2017-03-19 05:11] takezoe commented on #949
Exactly. The point in this case is that it's not clear what timezone `DateIndexFormatter` should use to format a given date. Is there any problem if it always use UTC?

Thanks for explanation, understood.

[2017-03-21 22:40] cvjones17 opened #951 "geoip fields trigger error"
### What kind an issue is this?

- [ X] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting o

[2017-03-21 23:09] cvjones17 commented on #951
Tried upgrading to ES-Hadoop org.elasticsearch:elasticsearch-spark-20_2.11:5.2.2, and error persists.

[2017-03-22 13:43] jbaiera commented on #951
@cvjones17 Are your geo point fields uniform in their source format? The connector attempts to sense the format of the geo field before start up, but if the format of the data is not homogenous then the connector will not function correctly. Are you able to reproduce this with a limited set of records?

[2017-03-22 13:49] jbaiera commented on #950
Since this looks more like an issue with Spark than the connector, I'll be closing this.

[2017-03-22 13:49] #950 closed

[2017-03-22 14:13] cvjones17 commented on #951
Some of the subfields of geoip can be empty/null.  
I will try to repro with a limited set of records where all the fields are populated.

      From: James Baiera <notifications@github.com>
 To: elastic/elasticsearch-hadoop <elasticsearch-hadoop@noreply.github.com>
Cc: Chris Jones <cvjones17@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Wednesday, March 22, 2017 6:43 AM
 Subject: Re: [e

[2017-03-23 15:40] cvjones17 commented on #951
I explored the hypothesis that the error occurs become some documents have missing values in the geoip object. I wasn't able to confirm the hypothesis. Actually, I loaded a single document into an index, which has all of the geoip fields non-null, i.e.,

{
  ...
        "geoip": {
                "timezone": "America/New_York",
                "ip": "123.45.678.98",
                "latitude": 40.

[2017-03-23 15:58] jbaiera commented on #951
@cvjones17 Thanks for the clean reproducing steps. I'll see what I can dig up on this.

[2017-03-28 13:50] #927 closed

[2017-03-28 13:51] #857 closed

[2017-03-28 13:51] #916 closed

[2017-03-28 16:08] jbaiera commented on #947
Closing this as there has been no feedback

[2017-03-28 16:08] #947 closed

[2017-03-28 16:14] jbaiera commented on #921
@mikej1688 Strictly speaking, if the security manager is disabled, then yes, that could pose a potential security risk should you be loading plugins or running scripts that are not trusted and are looking to cause damage.

[2017-03-28 16:16] jbaiera commented on #921
I'm closing this issue for the time being as the discussion has gotten off course and the original author has not responded for a while.

[2017-03-28 16:16] #921 closed

[2017-03-28 16:19] jbaiera commented on #920
Closing this issue as I believe the date format was the problem. Feel free to comment on here if there are any other issues.

[2017-03-28 16:19] #920 closed

[2017-03-28 16:21] jbaiera commented on #912
@theebanparthi1988 This is a question that is better suited for our [discussion forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop). We reserve Github for bug and feature tracking.

[2017-03-28 16:21] #912 closed

[2017-03-28 16:22] jbaiera commented on #904
Closing due to lack of feedback

[2017-03-28 16:22] #904 closed

[2017-03-28 16:29] ArslanSaleem commented on #920
Yes Date was the issue and sorry for not closing the issue.
Thanks

[2017-03-28 16:31] jbaiera commented on #895
This feels more like an issue with Spark to be honest. Looking through the logs it shows that it was able to successfully find the curator artifact in central and resolve it. It's disappearance from the local ivy repository seems to be the root of the problem. It's possible that there's a problem with Spark's package deployment. Closing this for now.

[2017-03-28 16:31] #895 closed

[2017-03-28 16:35] dickeyre commented on #276
This 2.5 yo bug keeps getting moved back, the lack of this functionality is a huge gap for ES/Spark.... Please prioritize this!

[2017-03-28 16:40] jbaiera commented on #276
@dickeyre It seems like this was stuck in one of the release version tags and kept getting pushed back. For the time being the major limitation with this is how different the mechanisms for information retrieval are for scroll versus aggregations. The other problem that we run up on is the lack of suitable API hooks mixed with conflicting adherence to API standards (e.g. rdd.count() requirements t

[2017-03-28 16:45] jbaiera commented on #893
Closing due to lack of feedback

[2017-03-28 16:45] #893 closed

[2017-03-28 16:55] jbaiera commented on #891
@jayesh4192 My guess in this case is that you have index creation disabled in Elasticsearch when a document is indexed. When using a pattern for your resource write you will need to set `action.auto_create_index` to `true` on every node in your cluster.

[2017-03-28 16:55] #891 closed

[2017-03-28 16:56] jbaiera commented on #867
Closing this as it seems the conversation has concluded.

[2017-03-28 16:56] #867 closed

[2017-03-28 16:57] jbaiera commented on #855
Closing due to lack of feedback.

[2017-03-28 16:57] #855 closed

[2017-03-28 16:58] jbaiera commented on #851
Closing this as there has been no response on the issue.

[2017-03-28 16:58] #851 closed

[2017-03-28 16:59] jbaiera commented on #858
Closing this as there has been no response on the enhancement request. If there is any feedback on user stories or use cases for this, please feel free to post them here and we can revisit the enhancement idea.

[2017-03-28 16:59] #858 closed

[2017-03-28 17:01] jbaiera commented on #850
Thanks to everyone who has posted super helpful analyses on this to help narrow the issue down. I'm going to close this ticket in favor of #938. If there are any more developments or feedback for this, please post it there to keep it consolidated. Cheers!

[2017-03-28 17:01] #850 closed

[2017-03-28 17:02] jbaiera commented on #816
Closing this as there has been no response on the issue.

[2017-03-28 17:02] #816 closed

[2017-03-28 17:19] jbaiera commented on #827
@jnioche In 5.3.3 we moved the URI and URL encoding and utility functions out of StringUtil into its own utility class (HttpEncodingTools). We've also minimized how much we depend on the commons encoding logic, and deprecated the parts that still have a hard dependency on it. As for the maven dependencies, the storm project is normally included in with the rest of the projects in the final jar. My

[2017-03-28 17:19] #827 closed

[2017-03-28 17:43] jbaiera opened #952 "Storm is missing runtime dependencies in Gradle"
As it stands right now, our supported version of Storm (1.0.1) does not depend on Apache Commons HTTP Client (3.0.1). It seems that Storm does not by default include any Hadoop dependencies, and in situations where clients may be running in a pure Storm environment it may come as a surprise that the connector heavily depends on the HTTP Client (commons-httpclient:commons-httpclient:jar:3.0.1) prov

[2017-03-28 17:43] jbaiera commented on #827
Opened #952

[2017-03-28 17:44] jbaiera commented on #832
Closing as the issue seems to be resolved.

[2017-03-28 17:44] #832 closed

[2017-03-28 18:04] jbaiera commented on #761
As of 2.3, the connector creates the index if it does not already exist in the case of reading from a singular (i.e. non patterned) index. It does this during job start up in the driver before launching any tasks. I would have to agree with costin that either the index creation is either failing or being lost somewhere. Does it still occur on newer versions of ES-Hadoop?

[2017-03-28 18:06] jbaiera commented on #717
Closing this due to no responses from the original author since it was opened.

[2017-03-28 18:06] #717 closed

[2017-03-28 18:10] jbaiera commented on #707
Generally ES-Hadoop takes a fail fast approach to handling errors. That being said, there has been pushing from the community to add exception suppression in cases of version conflicts. While conversations regarding version conflict error suppression are still ongoing, I do not think we should explore suppressing errors for closed indices. In this case, it may be easier and more efficient to keep

[2017-03-28 18:10] #707 closed

[2017-03-28 18:20] jbaiera commented on #613
Closing this as it is a duplicate of #307

[2017-03-28 18:20] #613 closed

[2017-03-30 07:26] wangqinghuan opened #953 ""uber mode" does not work well in elasticsearch-hadoop"
I enable "uber mode" in  mapred-site.xml, as follows:
[code]
above value is 4096b.
For example , if you hava a data set which is 4000b,then the uber mode will set . If you hava a data set which is 5000b, then the uber node will not set .
But in practice , no matter how much  a data set is ,the uber mode will set.
It seems like that es couldn't compute the length of split . A code block in "EsInput

[2017-03-30 22:31] jbaiera commented on #953
As it stands we do indeed return just `1L` as a response from `getLength()`. The problem here is that I'm not sure if there is a way to return exact sizes of source documents from shards, especially when slicing is involved. If an estimate here is good enough for most use cases, it's possible that we could aggregate size information of the segments or shards using the cat API, or some other mechan

[2017-04-06 19:49] coding2012 opened #955 "TaskCompletionListenerException: Failed to parse request body"
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.

### Issue description

Using Spark 2.10, and sc.esJsonRDD("data/test"), an exception is thrown. This started happening immediately when I upgraded to 5.3 (both Elasticsearch and the Spark JAR file).

Other notes: When I downgrade the JAR and ES to 5.2.2 everything

[2017-04-06 20:17] jbaiera commented on #955
@coding2012 Could you provide trace level logging at the executor side for the `org.elasticsearch` packages and post the resulting logs here? This will help narrow down what is causing the problem. I would also double check that your spark executors are also using ES-Hadoop artifacts for version 5.3 and higher, and not just the driver.

[2017-04-07 06:51] coding2012 commented on #955
I was trying to reproduce today, and instead of getting the error again, I am successfully reading the JSON documents now. Only thing I can think of is I had to reset my computer today, not sure why that would have an affect on anything, but you never know.

[2017-04-07 13:43] asuiu opened #956 "[BUG] Fails to insert Jsons into ES from Spark RDD when using metadata"
## BUG Report
### Steps to fix:
Replace "!jsonInput" with "jsonInput" in [this line](https://github.com/elastic/elasticsearch-hadoop/blob/432e8f53498e4ecb7f598d47fe5c3f2e6a10b4dd/mr/src/main/java/org/elasticsearch/hadoop/serialization/bulk/AbstractBulkFactory.java#L117):
File: elasticsearch-hadoop/mr/src/main/java/org/elasticsearch/hadoop/serialization/bulk/AbstractBulkFactory.java
Line: `if (valu

[2017-04-07 14:21] jbaiera commented on #955
Thanks for the update. Probably some sort of jar caching with Spark that expired. Closing this for now, let us know if it pops back up again.

[2017-04-07 14:21] #955 closed

[2017-04-07 18:58] ebuildy commented on #643
Indeed, this is a very good question!

Took me a few time to figure out:

If you use an Uber jar (via minimizeJar to true), this class will not be included, hence the error, despite you follow deployement recommandation.

[2017-04-10 15:05] jimmyjones2 opened #957 "Red index status causes NullPointerException in PySpark"
Running spark-2.1.0-bin-hadoop2.7 with elasticsearch-hadoop-5.3.0.

Run up two elasticsearch nodes. Add documents and remove replicas:
[code]

Kill one node, observe red status:
[code]

Now run Spark query:
[code]
NB. in some cases, eg. if there were no documents I'd get a 503 propagated from Elasticsearch, but in this case when it can return some results get an NPE.

[2017-04-11 06:00] xjrk58 opened #958 "BUG: Loggers in spark/core should be transient"
### What kind an issue is this?

Bug report

### Issue description

Loggers that are not transient are potentially causing serialization issues when different version of logging libraries are used.

### Steps to reproduce

Code:

TBD

Strack trace:
[code]

### Version Info

OS:         :  Linux/Ubuntu 16.04
JVM         :  Oracle Java 8u121
Hadoop/Spark:  Spark 2.1.0 (latest stable) / Hadoop 2.7 (p

[2017-04-12 10:45] ebuildy opened #960 "[DOC] Wrong doc link"
Not a big one but at:

https://www.elastic.co/guide/en/elasticsearch/hadoop/current/configuration.html

Some links are pointing to documentation version 2.0 (should be master ?)

By example, the link for "Ingest Node" points to 2.0 where there is no ingest node yet :/

I believe you must change the variable ``ref``

[2017-04-19 13:10] jbaiera commented on #960
Looks like a misconfigured reference in the docs. Thanks for pointing this out!

[2017-04-20 15:22] jbaiera commented on #960
Fixed in 5.3.1. I'll backport to the other 5.x branches.

[2017-04-20 15:22] #960 closed

[2017-04-20 20:36] ndimiduk commented on #935
Ping. Any update here?

[2017-04-20 20:36] ndimiduk commented on #948
Ping. Any update here?

[2017-04-24 07:43] cereusxing opened #962 "the size parameter is always 0 when querying ElasticSearch from spark"
### What kind an issue is this?
I'm trying to query elasticsearch with the elasticsearch-hadoop connector(5.3.0) but nothing returned

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a so

[2017-04-24 14:37] jbaiera commented on #962
@cereusxing Could you link your settings that you are using in your spark context? I'll work on trying to get a reproduction of this.

[2017-04-25 03:23] zlkkuu opened #963 "org.elasticsearch.hadoop.rest.EsHadoopNoNodesLeftException"
I build es(Version 2.4) cluster in AWS EC2, Spark(2.0) in EMR
It is always running ok, but sometimes the application is failed.
While restart the application of the spark, write data to es is ok.
The maven:
<dependency>
      <groupId>org.elasticsearch</groupId>
      <artifactId>elasticsearch-spark-20_2.10</artifactId>
      <version>5.2.2</version>
</dependency>
<dependency>
      <groupId>org.a

[2017-04-25 05:35] jbaiera commented on #963
@zlkkuu We prefer it if you would post questions like this on our [discuss forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop) since we reserve Github for bug reports and feature tracking only. Thank you!

[2017-04-25 05:35] #963 closed

[2017-04-25 09:36] lvguanming commented on #724
My solution is create temp table . Maybe the issue is in `Parquet` .

1. create temp table from select data from '**parquet**' format table data ;
` CREATE TABLE temp.order_index_2016 row format delimited fields terminated by '|' STORED AS **RCFile** AS select  id, userId, substr(createTime,0,19) as createTime from  ods.b_order where time >='2016-01-01' and time<'2017-01-01';`

2. use temp table a

[2017-04-25 19:39] #958 closed

[2017-04-26 08:07] cereusxing commented on #962
es.batch.size.entries=20
es.http.timeout=2m
es.index.auto.create=true
es.nodes=10.110.9.181
es.nodes.discovery=false
es.nodes.wan.only=false
es.port=9200
es.resource=global/target
es.scroll.limit=100
es.scroll.size=60
spark.app.id=application_1490948832657_0302
spark.app.name=Spark-ElasticsSearch Integration
spark.driver.appUIAddress=http://10.110.9.180:4040
spark.driver.extraClassPath=/home/cereu

[2017-04-26 17:09] alfredcs commented on #922
Same problem here with elasticsearch-hadoop-5.3.1.jar.

17/04/26 17:00:17 INFO StandaloneAppClient$ClientEndpoint: Executor updated: app-20170426165904-0019/1 is now RUNNING
17/04/26 17:00:17 INFO BlockManager: Initialized BlockManager: BlockManagerId(driver, 172.16.32.24, 32994, None)
17/04/26 17:00:17 INFO StandaloneSchedulerBackend: SchedulerBackend is ready for scheduling beginning after reach

[2017-04-28 19:00] acchen97 opened #965 "ES-Hadoop 5.5 Release"
Tracking high-level features for the 5.5 release:
- [x] HDFS Kerberos support for repository HDFS (only local keytab support) https://github.com/elastic/elasticsearch/issues/21990

[2017-04-28 19:01] acchen97 commented on #933
HDFS Kerberos support for repository HDFS has been pushed to 5.5. This issue is therefore superceded by https://github.com/elastic/elasticsearch-hadoop/issues/965.

[2017-04-28 19:01] #933 closed

[2017-04-28 19:04] acchen97 opened #966 "ES-Hadoop 6.0 release"
Tracking high-level features for the 6.0 release:
- [x] Spark 2.2 support - #1013
- [x] Spark Structured Streaming support for Spark 2.2.x - https://github.com/elastic/elasticsearch-hadoop/issues/818
- [x] Support for Join Field - #1012
- [ ] Multi-axial testing for Spark
- [ ] Better document security privileges

[2017-04-28 19:05] acchen97 commented on #966
@jbaiera when you have the chance, can you create an issue outlining the work for Structured Streaming?

[2017-04-28 19:06] jbaiera commented on #966
@acchen97 There's an issue already open at #818

[2017-04-28 21:58] AndreAga commented on #965
+1, it would be awesome to use WebHDFS / HttpFS with local keytab to take snapshot. Will this feature be available?

[2017-04-28 22:31] jbaiera commented on #965
@AndreAga For the time being we are only implementing the keytab support for the HDFS RPC level client in the plugin for this pass. If you think there would be sufficient reason to include WebHDFS or HttpFS as clients in the plugin, I would open a forum post on the main [Elasticsearch project forums](https://discuss.elastic.co/c/elasticsearch) or the [ES-Hadoop project forums](https://discuss.elas

[2017-05-01 20:08] Supriya-Pasham opened #967 "ERROR Executor: Exception in task 0.0 in stage 44.0 (TID 50) java.lang.IndexOutOfBoundsException: 200 not in [0,200)"
Issue : I am creating a Training and Testing model for predicting some data. I successfully created a Training model and running it, but when i run Testing code below exceptions is thrown.

I am supplying input data limit correctly, even though **indexoutofbound** is displayed. Request someone to suggest an solution.

Strack trace:

[code]

### Version Info

OS:         :
JVM         :
Hadoop/Spar

[2017-05-01 20:19] jbaiera commented on #967
@Supriya-Pasham This does not seem to be an ES-Hadoop related problem. Could you update the ticket with the required information from the template and a description of the problem you're running into?

[2017-05-02 09:22] Teeina commented on #906
Does it mean that we need to transfer the es-hadoop folder to every slave in the cluster?@touch-head-optimistically

[2017-05-02 15:05] indraneelr opened #968 "Unable to save values as 'Double' using spark-elasticsearch connector"
I am unable to save values as double using the spark-es connector. Here's the sample code

[code]
This saves the data, but is saved as a float type in elastic search.

The problem with this is that it fails when you read the data back because spark cannot auto cast float to double.

Here's what I am using:
`"org.elasticsearch" % "elasticsearch-spark-20_2.11" % "5.1.2" `

My spark version is 2.0.1

[2017-05-02 15:26] jbaiera commented on #968
@indraneelr The problem here is connected to the way that Elasticsearch performs automatic mapping of indexed values. ES-Hadoop does not attempt to set any schema data with Elasticsearch when creating an index, but rather depends on Elasticsearch's automatic field mapping to assign reasonable values. This is expected, as the connector is built to exactly match how Elasticsearch operates and respon

[2017-05-02 15:26] #968 closed

[2017-05-02 21:08] jbaiera commented on #967
This does not look germane to this project and there has been no response. If there are any questions about errors that you are seeing in the framework, we'd prefer that people discuss them on the [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop) before making a bug ticket.

[2017-05-02 21:08] #967 closed

[2017-05-02 21:45] jbaiera opened #969 "Scala Compiler Warnings"
We should probably not tolerate compiler warnings in Scala any longer, especially since there's only a handful that I can see in the project (currently 13 in each spark project 1.6 & 2.0). This is a meta ticket for fixing compiler warnings in Scala, and after this ticket is completed, the compiler should be configured with '-Xfatal-warnings' to ensure no more compiler warnings are committed going

[2017-05-02 22:16] acchen97 commented on #965
@AndreAga can you please file an issue around this request in the [Elasticsearch repo](https://github.com/elastic/elasticsearch/issues) and tag it with ":Plugin Repository HDFS"? This way others in the community can also chime in if they have a similar need. Thanks!

[2017-05-03 02:37] jbaiera opened #970 "Fix discarded return value Scala compiler warnings"
Subtask of #969

Fix warnings related to discarding non-Unit values from method calls. These should either be checked, or their signatures changed to stop returning things they don't need to.

[code]

[2017-05-03 02:40] jbaiera opened #971 "Fix unchecked type Scala compiler warnings."
Subtask of #969

Fix warnings related to unchecked type usage in match blocks. These should probably be skimmed for correctness (incorrect cases executed) and annotated with `@unchecked`.

[code]

[2017-05-03 02:41] jbaiera opened #972 "Fix dead code Scala compiler warnings"
Subtask of #969

Dead code should be removed to clear the existing warnings out.

[code]

[2017-05-03 02:44] jbaiera opened #973 "Fix implicit conversion method Scala compiler warnings"
Subtask of #969

Just need to import the correct language features (`scala.language.implicitConversions`) on the files in the Spark connector that are affected.

[code]

[2017-05-03 02:49] jbaiera opened #974 "Enable Fatal Warnings on Scala Compiler"
Subtask of #969

We should be catching and fixing common warnings in Scala that are reported by the compiler. Many of these are easy to miss and can evolve into bugs down the line if they aren't caught and fixed early. Enabling `-Xfatal-warnings` on the Scala compiler will fail builds if there are easily fixable Scala warnings, thus forcing developer(s) to handle them.

This depends on current war

[2017-05-03 02:53] takezoe commented on #970
Hm, checking discarding return value may be overkill because all of them are defined in Spark or Java libraries. We can't touch them or shouldn't change their signatures. They can be ignored explicitly as:

[code]

But it's not very common also in Scala world. So ellminating `"-Ywarn-value-discard"` option might be a solution in this situation.

[2017-05-03 08:06] SailLiao commented on #923
hi, i hive same issues, hive you solve it . thanks su much .

[2017-05-03 08:15] AndreAga commented on #965
@acchen97 Here it is: https://github.com/elastic/elasticsearch/issues/24455

[2017-05-03 08:44] takezoe commented on #969
I can work for them.

[2017-05-03 10:43] tonyC2016 opened #975 "how to set the analyzer for a field when i usespark-elasticsearch saveToEsWithMeta save to es"
my question is how to set the analyzer for a field which's name is changed ,
code like as below:

val test ="性别"
val lbs: Map[String, String] = Map("create_time" -> "1491990010000",
"name" -> "年龄",
"values" -> "70后,80后,90后",
"label" -> "{values}",
"measure" ->"0.0",
"tags" ->"用户画像,灰度发布",
test->"性别,男")
sc.makeRDD(Seq((1, lbs))).saveToEsWithMeta("label_sys_label/label")

3q for help!!

[2017-05-03 10:44] tonyC2016 commented on #975
the version is
<dependency>
            <groupId>org.elasticsearch</groupId>
            <artifactId>elasticsearch-hadoop</artifactId>
            <version>2.4.0</version>
        </dependency>

[2017-05-03 10:59] tonyC2016 commented on #975
any one can help?

[2017-05-03 13:35] jbaiera commented on #975
@tonyC2016 Please keep questions like these on the forum until they can be decided on if they are a bug or a new feature needed. We try to keep Github for reproducible bug reports and new feature tracking only.

If you are adding new fields to an index or creating new indices in Elasticsearch from ES-Hadoop you may need to set some sort of index template so that when the new index is created it ha

[2017-05-03 13:35] #975 closed

[2017-05-03 14:44] jbaiera commented on #970
@takezoe I think that makes sense to be honest. This is just a placeholder to clear out these types of warnings for the sake of turning on fatal-warnings. If that ends up as removing the flag because it makes the most sense, I think it makes sense.

[2017-05-03 14:58] jbaiera commented on #935
@ndimiduk I've been having a hard time reproducing this locally with ES-Hadoop. The error you are experiencing is from Elasticsearch when a scroll request is sent without a scroll id. It seems like a previous scroll request returned an empty string for an ID and ES-Hadoop tried sending that along for the next call, but my assumption is just from looking at the code and is unconfirmed since I can't

[2017-05-03 15:16] jbaiera commented on #962
@cereusxing I'm not having any luck reproducing this locally. How do you have your logging set up that it retrieved that request line at `DEBUG` level? ES-Hadoop only logs that line in CommonsHttpTransport at `TRACE` level. Is it possible that you have some other client that is not pulling things correctly?

[2017-05-03 15:56] jbaiera commented on #957
@jimmyjones2 I've got a clean reproduction of this. Thanks. I'll add some guarding statements in the code to keep it from throwing an NPE. In the case of a red cluster, I think it would make sense to throw at the start of the job, and ignore the red status if a given property is enabled, assuming users are ok with non-full results.

[2017-05-03 15:59] jbaiera opened #976 "Add status checks for when ES cluster is red."
If the Elasticsearch cluster has a status of `red`, we execute blindly and break in some cases. We should be checking early on in the job if the cluster is red, and throw an exception. We should also make sure that we can at least handle running over a red cluster, even if there is loss of data fidelity, allowing users to acknowledge that clusters are red and read them anyway with a setting might

[2017-05-03 19:56] jbaiera opened #977 "Upgrade Gradle to 3.3"
Gradle should ideally be in lock step with the main Elasticsearch project Gradle version. From what I can see, there are two deprecations which might cause issues for this: A logger level setting and disabling ant for scala compilation. This should land ideally before the early 6.0 versions to keep us from having to swap between versions for releases on 5.x versus 6.x.

[2017-05-04 01:25] jbaiera commented on #946
After reviewing this a bit more over time I'm starting to think that there is more going on under the surface. We leave index parsing pretty lax to support situations like specifying "_all", but I'm starting to wonder if we should allow supporting that at all. Either way, this should probably be looked at for 6.0 where we can make a drastic enough change to require stricter index and type names to

[2017-05-04 01:31] jbaiera opened #978 "Upgrade and test on Spark 2.1.1"
Spark 2.1.1 was released on May 2nd. It's just a point release, but we should upgrade to it and test it.

[2017-05-04 02:03] oaksharks opened #979 "what can i do for reading a few columns by spark or spark-sql ?"
In  the es cluster , it has a large scale data , we used spark to compute data but in the way of
`elasticsearch-hadoop` following by [https://www.elastic.co/guide/en/elasticsearch/hadoop/current/spark.html](https://www.elastic.co/guide/en/elasticsearch/hadoop/current/spark.html) we have to read full columns of an index , is there anything that help ?

[2017-05-04 02:45] takezoe commented on #972
These warnings has been fixed in #940.

[2017-05-04 02:55] takezoe commented on #971
These warnings has been fixed in #940.

[2017-05-04 05:52] jimmyjones2 commented on #976
@jbaiera Thanks!

[2017-05-04 06:52] mozinrat commented on #923
Yes, i forgot the exact details but needed to create a separate maven project for job, shade es-hadoop binaries in that. While importing this project to main project, excluse es-hadoop binaries. Play with your maven/gradle build, if you are using java. I have no hints with scala though.

[2017-05-04 15:40] jbaiera commented on #972
@takezoe Indeed they were. Looks like I was running this on a branch that didn't have #940. Closing this.

[2017-05-04 15:40] #972 closed

[2017-05-04 15:41] #971 closed

[2017-05-04 19:26] dmarkhas commented on #979
Doesn't es.read.fields.include work for you?

[2017-05-04 20:22] mdelaney opened #981 "Half and scaled floats missing from spark 2 schema"
### What kind an issue is this?

Bug report.

### Issue description

Type mapping for scaled and half floats is missing for spark 2 sql. Issue #822 is the original issue where the schema mapping was added, looks like this file was missed.

### Steps to reproduce

If you attempt to work with any index that uses scaled or half floats using spark 2 you can reproduce the issue. Using metricbeat is a g

[2017-05-05 05:28] SailLiao commented on #923
i solve this , because i use the error es-spark.jar, the scala version in the classpath must be same as the scala jar in SPARK_HOME/jars , and use the right es-spark jar  https://www.elastic.co/guide/en/elasticsearch/hadoop/5.4/install.html

[2017-05-05 14:20] jbaiera commented on #979
@oaksharks We reserve Github for feature tracking and bug reports. Please ask these sorts of questions on our [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop)

[2017-05-05 14:20] #979 closed

[2017-05-05 18:26] #973 closed

[2017-05-05 18:28] jbaiera commented on #976
This is released in version 5.4.0

[2017-05-05 18:28] #976 closed

[2017-05-05 18:28] jbaiera commented on #977
This is released in version 5.4.0

[2017-05-05 18:28] #977 closed

[2017-05-05 18:29] jbaiera commented on #957
This is released in version 5.4.0

[2017-05-05 18:29] #957 closed

[2017-05-06 05:39] bitian opened #983 "org.apache.pig.backend.executionengine.ExecException"
An error occurred while I was running the following program. I found that the error was caused by the red line.The version I installed is as follows:hadoop2.8,pig0.16.0,elasticsearch-hadoop-5.3.2,elasticsearch5.3.2,and I put elasticsearch-hadoop.* jar files in the pig folder.
![image](https://cloud.githubusercontent.com/assets/14858638/25770127/a44e4e62-325f-11e7-88ef-a36b49b7252a.png)
the error l

[2017-05-06 18:18] jbaiera commented on #983
@bitian Could you link which version of the Apache HttpClient you are using?

[2017-05-06 18:34] phoerious opened #984 "Maven dependencies broken: missing cascading-hadoop-2.6.3"
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.

### Issue description

When trying to resolve Maven dependencies of any 5.x release via Gradle, I get the following error:

[code]

[2017-05-06 18:51] jbaiera commented on #984
@phoerious Thanks for opening an issue, but we politely request that you ask these sorts of questions on our [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop). We try to reserve Github issues for bug reports on the project code as well as for feature tracking.

To answer your question, I believe that you need to add some other repositories to resolve those artifacts:

* For the casca

[2017-05-06 18:51] #984 closed

[2017-05-06 18:59] phoerious commented on #984
It used to work with previous versions. I was about to add those external repositories, but didn't want to if not really needed.

[2017-05-08 05:50] bitian commented on #983
I don't know how to use Apache HttpClient,I only put commons-httpclient-3.1.jar file in the pig folder which contain all elasticsearch-hadoop.* jar files.Is that a error?

[2017-05-08 06:35] jbaiera commented on #983
Could you try with commons-httpclient version 3.0.1? My concern here is that you are using Hadoop 2.8 which is a minor release above what we currently test on for the project. Do you see the same problems if executing against a cluster based on Hadoop 2.7.1?

[2017-05-08 06:39] jbaiera commented on #983
Sorry, that issue close was a mis-click on my part.

[2017-05-08 21:11] jbaiera opened #985 "Timestamp formatting in index name breaks Cascading and Pig integrations"
As described in the documentation:

What this boils down to is that you can use a pattern like `index/type-{time:YYYY.MM.dd}` to denote that the `time` field should be formatted as `YYYY.MM.dd` and inserted into the type name. This works fine when used in the type name, but in 6.0 by default indices will only have one type allowed on them. Which leads us to the problem:

Cascading and Pig break wh

[2017-05-08 21:17] jbaiera opened #986 "Remove support for the TTL and Timestamp metafields"
According to the breaking changes in 6.0:

We should be deprecating mentions to these in 5.x and removing them in 6.0

[2017-05-08 21:56] jbaiera opened #987 "Convert tests to use Painless"
Right now all the tests are written with Groovy as the expected language. Currently in 6.0 Groovy is dead, and Painless should be used. There are a set of tests that are marked as `@Ignore` in the project with comments denoting requiring Painless to be converted.

[2017-05-09 18:39] #981 closed

[2017-05-10 22:20] bobby259 commented on #712
@santhoshtangudu  How did you verify that the machine is not accessible form some of the nodes? I am facing the same issue. Please help.

[2017-05-10 22:22] vijaykramesh commented on #276
any word? 2.5 years is a long time for some core functionality like this to not exist...

[2017-05-11 01:08] JustUse opened #988 "Unable to write existing json from hdfs to elasticsearch using MapReduce"
Well, I try to write exist json from hdfs to elasticsearch but is raising error...  Have any one met such a problem，help me.
Thank you in advance.

Error: org.elasticsearch.hadoop.rest.EsHadoopInvalidRequest: Found unrecoverable error [10.0.0.12:9200] returned Bad Request(400) - failed to parse, document is empty; Bailing out..
at org.elasticsearch.hadoop.rest.RestClient.processBulkResponse(RestCl

[2017-05-11 01:09] JustUse commented on #988
code  as follows.

package com.javacore.hadoop;

import org.apache.hadoop.conf.Configuration;
import org.apache.hadoop.fs.Path;
import org.apache.hadoop.io.BytesWritable;
import org.apache.hadoop.io.NullWritable;
import org.apache.hadoop.io.Text;
import org.apache.hadoop.mapreduce.Job;
import org.apache.hadoop.mapreduce.Mapper;
import org.apache.hadoop.mapreduce.lib.input.FileInputFormat;
import o

[2017-05-11 01:09] JustUse commented on #988
My json data also simple. Please forgive me for my poor English,Thank you in advance.

{"id":"1","title":"git","posttime":"2017-05-01","content":"The main difference between SVN and Git"}
{"id":"2","title":"ava","posttime":"2017-05-02","content":"Basic operation: CRUD ..."}
{"id":"3","title":"SQL","posttime":"2017-05-03","content":"SQL."}
{"id":"4","title":"Hibernate","posttime":"2017-05-04","cont

[2017-05-11 01:09] JustUse commented on #988
My friend has used hadoop verision in 2.7.0 and elasticsearch in 2.3 and ES-elasticsearch in 2.3 can run perfectly，but met the same problem when he used ES-elasticsearch in 5.4.0. So I initially identified this is the ES-elasticsearch version of bug caused failed to parse JSON format。But i don't want to change my es version. Please , please help me!

[2017-05-11 04:06] JustUse commented on #988
17/05/11 11:58:24 INFO mapreduce.Job: Task Id : attempt_1494321840981_0058_r_000000_1, Status : FAILED
Error: org.elasticsearch.hadoop.rest.EsHadoopInvalidRequest: Found unrecoverable error [10.0.0.12:9200] returned Bad Request(400) - failed to parse, document is empty; Bailing out..
	at org.elasticsearch.hadoop.rest.RestClient.processBulkResponse(RestClient.java:251)
	at org.elasticsearch.hadoop.

[2017-05-11 06:37] JustUse commented on #988
Whether  json format was wrong??

[2017-05-11 13:07] Rushi-Kumar opened #989 "when reading from elastic search I am getting this error "scala.MatchError: 25.0418 (of class java.lang.Float)""
### What kind an issue is this?

- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [x] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2017-05-11 15:00] jbaiera commented on #989
Could you please include the full stack trace of the error?

[2017-05-11 15:04] jbaiera commented on #988
Could you include `TRACE` level logging of the `org.elasticsearch.hadoop.rest.commonshttp` package? This will help identify the contents of the requests being sent to Elasticsearch.

[2017-05-11 15:06] jbaiera commented on #276
@vijaykramesh As mentioned above when this ticket was set to `stalled`, currently there are significant roadblocks to this, one of which is the lack of API hooks, and another being the complexity of mixing scan and scroll with aggregation based requests.

[2017-05-12 01:01] JustUse commented on #988
@jbaiera Thank you for your comment in short time !  i don't know how to include TRACE level logging of the org.elasticsearch.hadoop.rest.commonshttp package. Is it include in my mapreduce code? and how to use the method in this package? Could you give me a simple demo? Thank you!

[2017-05-12 05:27] Rushi-Kumar commented on #989
thank u for reply
here is full stack trace
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
17/05/12 10:56:18 INFO Version: Elasticsearch Hadoop v5.4.0 [2e5b53f43d]
root
 |-- @timestamp: timestamp (nullable = true)
 |-- @version: string (nullable = true)
 |-- geoip: struct (nullable = true)
 |    |-- ip: string (nullable = true)

[2017-05-12 05:40] Rushi-Kumar commented on #989
if i use the following code
////////////////////////////////code////////////////////////////////////////////////////////////////////////////////////    val esDf = sc.esRDD("logstash-*")
    println("this is elasticsearch::>>>" + esDf.count())
    val esd = esDf.collect()
    println("length of esd ::>>>", esd.length)
    for (v <- esd) {
      val m = v._2
      for ((k, v) <- m) {
        println

[2017-05-12 14:07] jbaiera commented on #988
@JustUse There are many ways to modify logging in Hadoop depending on your version and distribution. I would try setting `mapreduce.job.log4j-properties-file` to a locally available log4j file that sets the logging levels.

[2017-05-12 14:12] jbaiera commented on #989
@Rushi-Kumar Can you set the type value on your index name? I see that you are only setting it as `"logstash-*"`. Can you include the name of your type as well, like `"logstash-*/squid"`?

[2017-05-13 04:42] Rushi-Kumar commented on #989
Thank you for info ....
I got all the feilds now ...
but when i include ".option("es.read.field.as.array.include", "geoip.location")" .... it show error same eror for tags feild and i have included it as well ...but only one is executing ,I think the option in over riding ..
I didnt find any resources regarding this prblm

code
//////////////////////////////////////////////////////////////////////

[2017-05-13 04:48] Rushi-Kumar commented on #989
for got mention
some time data is like this as well in es
//////////////////////////////////////////////\
{
        "_index" : "logstash-2017.05.10",
        "_type" : "squid",
        "_id" : "AVvvsK2mWaoCiSIECEGc",
        "_score" : 1.0,
        "_source" : {
          "path" : "/var/log/squid/access.log",
          "@timestamp" : "2017-05-10T00:09:45.105Z",
          "geoip" : { },
          "

[2017-05-15 02:06] JustUse commented on #988
@jbaiera Thanks! I am a newcomer to this, so could you give me a simple demo?  The problems have been resolved , caused "document is empty"  attributed to my json file last line is empty. the simple demo can work perfectly and input data to ES successfully.  But.... my json can't input data to ES when runing is didn't  report  any error and warnning ,.

[2017-05-15 12:29] rlebreto commented on #948
Same issue for me...

[2017-05-15 13:25] jbaiera commented on #988
Those sorts of questions are better suited for our [forum](https://discuss.elastic.co/c/elasticsearch-and-hadoop). Since the original issue is resolved I'll close this for now.

[2017-05-15 13:25] #988 closed

[2017-05-16 04:27] Rushi-Kumar commented on #989
hai sir
this is rushi...i think u are busy .. no prblm . please help me when u r
free.
thanking u
rushi kumar

On 12-May-2017 7:42 PM, "James Baiera" <notifications@github.com> wrote:

[2017-05-16 15:49] ov7a opened #990 "Unclear docs"
Partial copy of this thread:
https://discuss.elastic.co/t/writing-to-multiple-indices-and-documentation-about-it/82859

There are some unclear things in the [documentation](https://www.elastic.co/guide/en/elasticsearch/hadoop/current/configuration.html)

At some point it says:

But the next paragraph is titled "Dynamic/multi resource writes" and states that

Is seems like these two statements cont

[2017-05-16 16:21] jbaiera commented on #990
This could certainly be cleared up a bit more:

This corresponds more toward using index and type names like `_all/foo`, where multiple indices are being read by usage of a pattern sent to Elasticsearch.

In this case, it explains that you can use a special pattern (denoted by curly braces) to have the connector determine which index and type to save documents to at runtime using the values stored

[2017-05-16 17:12] ov7a commented on #990
Yes, it does clear the things up, thank you.

Is it ok to create a feature-request for an ability to explicitly pass an index for a document through it metadata (alongside with id)?

[2017-05-16 17:18] jbaiera commented on #990
@ov7a I think you should be able to do this currently by just specifying a field pattern as the entire index path item, like `{index}/type`

[2017-05-16 17:25] ov7a commented on #990
What if index name depends on other things (not only fields) and I do not want to store them?
Or index name is a complex function depending on multiple fields?

[2017-05-16 17:31] ov7a commented on #990
E.g.
    if (field1 == value1 || field2 == value2)
      index = index1
    else
      index = index2

[2017-05-16 18:51] jbaiera commented on #990
@ov7a Even if we were to specify a configuration property that selects the entire index from the document field before writing it, it would be the exact same functionality as the existing pattern use case I explained above. In the even that you need to implement complex logic for selecting the index to send data to, I would suggest implementing that logic as part of your transformation steps befor

[2017-05-16 18:58] ov7a commented on #990
I thought that way, but es.mapping.exclude feature is ignored when es.input.json is specified :(

[2017-05-16 19:00] jbaiera commented on #990
Yeah, es.input.json is meant to be a performance boosting option to avoid the serialization overhead. Since to include es.mapping.exclude with that would mean we would have to parse the JSON fragments to remove them, we thought it best to leave it off.

[2017-05-16 19:06] ov7a commented on #990
So, if I want es.input.json and complex index logic I have two options:
1. Extra field stored
2. Opt out of json
The feature request I want to propose is to provide extra metadata for each document, so it would be possible to have both json input and complex logic.

[2017-05-16 19:14] jbaiera commented on #990
That's fine with me to open an enhancement ticket for that. Thanks!

[2017-05-16 19:37] ov7a opened #991 "Ability to explicitly pass an index/type for a document through it metadata"
### Feature description

Start of discussion: https://github.com/elastic/elasticsearch-hadoop/issues/990#issuecomment-301850803

Currently, if one wants to use complex logic for getting index name for document, there are two options:
1. Use patterns to construct an index name
2. Implement index name as part of transformation steps before persisting to Elasticsearch and add extra field to resulting

[2017-05-19 14:01] aginpatrick opened #992 "ElasticsearchIllegalArgumentException[Malformed scrollId []] caused by es.scroll.limit"
### Issue description

In Pyspark, reading ES data with the option es.scroll.limit seems to cause the error ElasticsearchIllegalArgumentException[Malformed scrollId []]

### Steps to reproduce

df = spark.read.format("org.elasticsearch.spark.sql")
.option("es.nodes", "{my es nodes}")
.option("es.port", "9200")
.option("es.net.http.auth.user", "")
.option("es.net.http.auth.pass", "")
.option("es.ne

[2017-05-19 18:29] jbaiera opened #993 "Allow for varying degrees of leniency for Network Client failover"
When the worker tasks come online and start up the Elasticsearch client they each perform version discovery. All requests are routed through the NetworkClient which handles the failure and request reroute logic. Here is the breakdown of the exceptions we stop trying to reroute from:
[code]
In some cases, NoRouteToHostException and UnknownHostException may not necessarily mean that the job cannot c

[2017-05-21 08:53] bkard commented on #712
Hi,
I have the same issue and I can't figure out how to solve it.
My ES IP is 10.10.90.182, and it has one node with IP 192.111.1.111
I created an external table using 10.10.90.182:9200 as IP and Port numbers.
When I try to select from the table I receive this ERROR:

Failed with exception java.io.IOException:org.elasticsearch.hadoop.rest.EsHadoopNoNdesLeftException: Connection error (check networ

[2017-05-22 05:52] santhoshtangudu commented on #712
In the config file of ES, there is a value associated with this. I changed the IP address. Then it started working.

[2017-05-22 09:17] ranlei commented on #811
Maybe you can written this: `val options = Map("pushdown" -> "true", "es.field.read.as.array.include" -> "employees")`

[2017-05-22 17:34] jbaiera commented on #992
This is also possibly related to #935.

[2017-05-22 20:20] inqueue opened #997 "snapshots fail if HDFS is not available when Elasticsearch starts"
Elasticsearch 2.4.4 + repository-hdfs

Snapshots fail if the HDFS repo is not available when Elasticsearch starts, even though the repo was brought up while the Elasticsearch service is running.

Repro:
1) Stopped ES
2) Stopped Hadoop HDFS
3) Started ES while HDFS is down
4) Started HDFS
5) Attempted to GET /_snapshot/repo and then attempted to PUT /_snapshot/repo

The API command fails with:
[cod

[2017-05-22 20:48] aalkilani commented on #856
Any updates on this?

[2017-05-22 21:36] risdenk commented on #997
I've had success removing and readding the repo. I've had to do that a few times due to Kerberos related issues. It doesn't remove the data from HDFS just removes the reference in Elasticsearch. You can readd the repo and it seems to work.

[2017-05-25 18:21] mqiu2017vs commented on #599
Does this mean in order to use saveToES, only drive will do the job and the worker nodes has no use?

[2017-05-25 18:25] mqiu2017vs commented on #599
Hi Costin
Do you have any updates on this issue?

Thanks

[2017-05-25 19:10] jbaiera commented on #599
@mqiu2017vs The `saveToEs` method executes `runJob` on the RDD, which delegates downward into Spark's `DAGScheduler`, which handles launching the job on the Spark Cluster. Unfortunately this is an older issue and the original author has not responded in over a year. I'm going to go ahead and close this issue as it has stalled out. If an issue such as this arises again, we'll open a new ticket for

[2017-05-25 19:10] #599 closed

[2017-05-25 21:19] mqiu2017vs commented on #599
Hi James,

I think this is still an issue,  Because I use the same way to saveToES, I
can see that only the driver is doing the job sequentially so the
performance is not good.

Please open a new ticket for this.

Bests,

Min Qiu

On Thu, May 25, 2017 at 3:10 PM, James Baiera <notifications@github.com>
wrote:

[2017-05-26 11:10] angelcervera opened #998 "saveToEs saves case classes fields with NULL values"
### What kind an issue is this?
Bug report.

Maybe related with https://github.com/elastic/elasticsearch-hadoop/issues/792 but no the same.

### Issue description

saveToEs is inserting case classes null fields as null, instead of ignoring them.
The behavior should be in align with spark-sql, where null fields are ignored.

### Steps to reproduce

Code:

[code]

Strack trace:

Current response:
[c

[2017-05-30 13:25] gmoskovicz opened #999 "Log when a retry failed for a 429"
We have the `es.batch.write.retry.count (default 3)` setting , but currently there is no way to see which where the failed documents. We could write a special log format in order to be able to retrieve, visualize, or even retry in some sort of way all failed messages after that third time.

CC @jbaiera

[2017-05-31 17:40] SergeVil commented on #935
I have same issue when I run

es_read_conf = {
    "es.nodes" : "myhost",
    "es.port" : "9200",
    "es.resource" : "vertex/author",
    "es.query" : q,
    "es.scroll.limit" : "1000"
}

es_rdd = sc.newAPIHadoopRDD(
    inputFormatClass="org.elasticsearch.hadoop.mr.EsInputFormat",
    keyClass="org.apache.hadoop.io.NullWritable",
    valueClass="org.elasticsearch.hadoop.mr.LinkedMapWritable",

[2017-05-31 18:38] jbaiera commented on #818
This has finally been added as an alpha feature for ES-Hadoop 6.0 under the 0b0f95c436d51eaeec37f0e6f9e5ccb6d33d2800 commit

[2017-05-31 18:38] #818 closed

[2017-05-31 20:39] jbaiera commented on #992
@aginpatrick I identified a backwards compatibility issue with scroll id's in the 5.4 branch against Elasticsearch 1.x, but I could not reproduce this specific error. Could you increase the logging to `TRACE` on the `org.elasticsearch.hadoop.rest.commonshttp` package and post the job logs here? That should hopefully shed some light on the missing scroll id.

[2017-05-31 21:03] jbaiera commented on #935
@SergeVil Could you enable `TRACE` level logging on just the `org.elasticsearch.hadoop.rest.commonshttp` package and paste the job logs here when you encounter the failure?

I still have not been able to reproduce this bug. Hopefully the logs reveal some information about what is going on.

[2017-05-31 21:10] SergeVil commented on #935
@jbaiera Can you provide me the example of Python code I have to run, please?

[2017-05-31 22:25] acchen97 opened #1000 "[Deprecation Notice] Sunsetting Hadoop 1.x Support and the Elasticsearch on YARN Project"
Elastic is officially announcing two deprecations in the Elasticsearch-Hadoop project. Feedback and comments are welcome.

## Deprecating Hadoop 1.x Support
Support for Hadoop 1.x in the Elasticsearch-Hadoop connector will be deprecated in 5.5, and completely removed in 6.0. In striving to maintain the strongest integrations for the most popular Hadoop ecosystem components, we’re moving forward wi

[2017-05-31 23:55] acchen97 opened #1001 "[Meta] Checklist for Deprecating Hadoop 1.x Support and the Elasticsearch on YARN Project"
Checklist for upcoming deprecations in 5.5. Addresses https://github.com/elastic/elasticsearch-hadoop/issues/1000.

### Deprecating Hadoop 1.x Support
- [x] Support notice
- [x] Deprecation blog post
- [x] [Docs](https://www.elastic.co/guide/en/elasticsearch/hadoop/current/requirements.html#requirements-hadoop) updates
  - [x] Deprecation note
  - [x] Remove distribution test list

### Deprecating

[2017-06-01 04:02] ndimiduk commented on #935
You need to edit the log4j.properties file on the classpath of your job.

On Wed, May 31, 2017 at 2:10 PM SergeVil <notifications@github.com> wrote:

[2017-06-01 12:41] SergeVil commented on #935
[1.txt](https://github.com/elastic/elasticsearch-hadoop/files/1044748/1.txt)

[2017-06-01 13:40] jbaiera opened #1002 "Scroll Id's are malformed for ES 1.x"
When upgrading to ES 5.3.0, we modified the scroll request bodies to use the JSON form for specifying the scroll ids. This form is unsupported for Elasticsearch version 1.x.

[2017-06-01 15:35] SergeVil commented on #935
[2.txt](https://github.com/elastic/elasticsearch-hadoop/files/1045307/2.txt)

[2017-06-01 18:01] jbaiera commented on #935
@SergeVil Perfect! Thank you for those logs. They are incredibly helpful for figuring out what is going on.

I think I see the issue now. I'm going to retry getting a local reproduction of the bug now that I understand it better, and will hopefully get a patch in soon after that.

[2017-06-01 19:29] #935 closed

[2017-06-01 19:30] jbaiera commented on #1002
Fixed in master with 2c411d2

[2017-06-01 19:30] #1002 closed

[2017-06-01 19:35] jbaiera commented on #992
I opened #1002 as that was what I had assumed was the problem, but after looking closer, it seems that the root of this problem is almost certainly caused by #935. Closing this as both of those issues are resolved.

[2017-06-01 19:35] #992 closed

[2017-06-01 19:40] SergeVil commented on #935
@jbaiera Can I use some jar from jenkins or other tool to test it in my environment?

[2017-06-01 20:30] jbaiera commented on #935
The snapshots should be available soon, but if you would like something sooner, you can always checkout the project and just run `./gradlew build distZip install` which should create the zip directory with all the artifacts in it under the `build/distribution` directory in the project.

[2017-06-01 20:41] SergeVil commented on #935
How often are you usually creating snapshots?
Thank you for fixing it!

[2017-06-01 22:32] sandeep-telsiz commented on #853
Is there a workaround for this issue ?

[2017-06-02 15:49] jbaiera commented on #935
@SergeVil Snapshots are cut every day for ES-Hadoop off of the master branch.

[2017-06-02 16:05] SergeVil commented on #935
@jbaiera James, could you point me out to the snapshot, please? Many thanks!

[2017-06-02 16:12] jbaiera commented on #935
@SergeVil It's detailed in the project README here: https://github.com/elastic/elasticsearch-hadoop#development-snapshot

[2017-06-06 14:42] jbaiera commented on #853
@sandeep-telsiz unfortunately this is not a straightforward fix. The parsing code for reading scrolls needs to be completely rebuilt to support this. Rest assured that this is a big item on our radar that we hope to tackle soon.

[2017-06-07 16:28] #538 closed

[2017-06-07 16:28] #918 closed

[2017-06-07 18:33] jbaiera commented on #986
Moving forward with deprecating the tags in 5.5 and adding verification logic in 6.0 to disallow their usage against ES clusters running 6.x and above.

[2017-06-07 19:11] #986 closed

[2017-06-07 19:53] jbaiera commented on #987
Closed by 3a0895de0370e1815cd79d43680f05c16f9aaa7c

[2017-06-07 19:53] #987 closed

[2017-06-07 20:03] jbaiera commented on #243
Closing this issue as it seems that the conversation has trailed off.

[2017-06-07 20:03] #243 closed

[2017-06-07 20:15] jbaiera commented on #113
Closing this out as there do not seem to be any actionable items any longer.

[2017-06-07 20:15] #113 closed

[2017-06-07 20:21] jbaiera commented on #387
Closing this out as inactive

[2017-06-07 20:21] #387 closed

[2017-06-07 20:23] jbaiera commented on #396
This is a really old issue with no follow ups. I'd like to close this for inactivity. If the problem persists, please open a new ticket.

[2017-06-07 20:23] #396 closed

[2017-06-07 20:31] jbaiera commented on #560
This issue is quite old with no further conversation. I am closing this as an inactive ticket. If the issue is still present in more recent versions of the connector, please open a new issue.

[2017-06-07 20:31] #560 closed

[2017-06-07 20:41] jbaiera commented on #787
Closing this as there has been no further feedback.

[2017-06-07 20:41] #787 closed

[2017-06-07 20:42] jbaiera commented on #803
Relates #626

[2017-06-07 20:43] jbaiera commented on #804
Closing this out as there are no real courses of action to take.

[2017-06-07 20:43] #804 closed

[2017-06-07 20:49] inqueue commented on #997
@imotov We spoke a while back about this issue. Does it belong in [elastic/elasticsearch](https://github.com/elastic/elasticsearch)?

[2017-06-07 20:49] jbaiera commented on #737
Closing this as there has been no further feedback.

[2017-06-07 20:49] #737 closed

[2017-06-07 20:51] jbaiera commented on #997
This should probably be moved to elastic/elasticsearch as that is the new home for the plugin as of 5.x. I'm not sure what the correct expectations for the lifecycle of connections made in these repository plugins are. Perhaps there is some documentation somewhere that lays it out clearly, but I am not aware of it at the moment.

[2017-06-07 20:52] imotov commented on #997
Yes, indeed it should be in elastic/elasticsearch.

[2017-06-07 20:57] jbaiera commented on #926
I know that this is an older ticket, but if any of the original authors could include the list of transient dependencies that they are receiving when including the jar, that might help out. There is obviously a problem with different versions of Parquet classes appearing between the driver and the executors here. I'm not familiar with Zeppelin myself, so I am unsure of how it handles pulling in de

[2017-06-07 21:05] inqueue commented on #997
moved to https://github.com/elastic/elasticsearch/issues/25119

[2017-06-07 21:05] #997 closed

[2017-06-08 20:39] jbaiera commented on #956
I finally got to the bottom of this problem while testing some stuff for a potential feature. We build a template for our bulk requests that contains extractors for different parts of data. This allows us to pull fields from documents to be used as a document ID, or as the routing, etc...

When writing JSON data, we configure a set of extractors that all return pre-quoted String data. These are co

[2017-06-08 20:43] jbaiera commented on #991
Related (loosely) to https://github.com/elastic/elasticsearch-hadoop/issues/956

[2017-06-12 19:25] rohanarora0921 commented on #379
@haitaoyao @aniketbhatnagar Do you know if anyone is still working on this? Any prototype/leads would be helpful!

[2017-06-13 15:00] aaditya89 opened #1003 "Spark saveToES overloading error, exception handling"
Hello,

We have spark cluster writing data to kafka and Elastic search

When we get error while writing to ES, the call to kafka also stops and not data is getting inserted on the kafka side as well.

If ES call fails, I tried adding exception handling on saveToES call. Even after this the call to kafka stops totally and data does not get ingested.

Can someone help me here on how to handle these

[2017-06-13 15:16] jbaiera commented on #1003
We do not support combining `foreachRDD` with `saveToEs` on DStreams. Issues occur when saving data in this way as the embedded es-hadoop http client exhausts connection resources on the worker machines due to the high amount of worker stand up and tear down operations that occur with Spark's micro batching. I would advise using the native `saveToEs` on the DStream itself.

[2017-06-13 15:45] #990 closed

[2017-06-13 17:25] jbaiera commented on #989
@Rushi-Kumar Sorry for the late reply. You must specify the include fields together using a comma to separate them. When you set them as separate properties, the second time you set it will blow away the first value set.

[2017-06-13 17:38] #978 closed

[2017-06-14 22:47] mavencode01 commented on #906
I'm getting same exception but running spark locally while trying to push data to a remote ES

[code]

ES Version

[code]

[2017-06-16 05:04] zackehh commented on #983
I also saw issues with `httpclient` classes missing on 2.8.x, works just fine on 2.7.x:

[code]

[2017-06-16 12:53] SergeVil commented on #427
I have the same problem now. What information I can provide you for the fix?

[2017-06-16 13:35] jbaiera commented on #427
@SergeVil as denoted in the above thread, this is an issue with Spark

[2017-06-16 13:41] jbaiera commented on #983
Hadoop 2.8 has removed apache httpclient as a provided dependency, and thus the connector is going to fail on that version due to the lack of libraries. I'll open a ticket to address this, as we do not yet support Hadoop 2.8.

[2017-06-16 13:42] SergeVil commented on #427
Thank you. Do you have an idea where I can submit it? Is it any collaboration between the teams?

[2017-06-16 13:45] jbaiera commented on #427
You will have to search the Spark issues, there is no official collaboration between this project and Spark.

[2017-06-16 13:56] jbaiera opened #1004 "Upgrade to Hadoop 2.8"
Hadoop 2.8.0 was released on March 22 of this year, with a 2.8.1 release in process (at the time this ticket was created). Most notably in the list of changes for Hadoop 2.8.0 is the complete replacement of the apache commons httpclient 3.1 with the newer org.apache.httpcomponents httpclient 4.5.2. This poses a problem for upgrading since in 6.0 we will be supporting all the way back to Hadoop 2.2

[2017-06-16 13:56] jbaiera commented on #983
I openned #1004 to track this issue.

[2017-06-16 13:57] #983 closed

[2017-06-16 16:09] zackehh commented on #983
Cool, thanks @jbaiera!

[2017-06-16 16:09] zackehh commented on #1004
Just dropping a specific error I'm seeing for reference in case people are searching for it. Can confirm that it's caused by 2.8.x.

[code]

[2017-06-17 00:09] zackehh commented on #991
To work around `es.mapping.exclude`, I believe you can exclude the fields in your index mapping in ES itself. Wasted bytes on the wire, but at least it won't be persisted.

[2017-06-21 13:54] ckayay opened #1005 "EsSpark.esJsonRDD(SparkContext,...) is failing to run at worker nodes with SparkContext null"
### What kind an issue is this?

- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2017-06-21 14:14] jbaiera commented on #1005
Could you please pay attention to the issue template and fill it out fully? It requests important information for reproducing bugs and for classifying them. We require version numbers of the library and the framework being used, the reproducing steps and the exception and stack trace from the error at the very minimum.

[2017-06-23 06:50] pgeek opened #1006 "JacksonJsonGenerator.getParentPath will always be empty"
### What kind an issue is this?

- [ ] es.mapping.exclude is useless when using dataframe to save rows to es

Debug code and locate **JacksonJsonGenerator.getParentPath** mthod。

[code]

**I think currentPathCached is also needed be validated is empty.** Unless it will always be "", can not be other value.

### Issue description

JacksonJsonGenerator.getParentPath will always be empty string. In D

[2017-06-27 17:59] sherry-ger opened #1007 "Compatibility issue with elasticsearch-spark-13_2.10-5.0.0.jar and ES 5.4.2"
### What kind an issue is this?

- Bug report

elasticsearch-spark-13_2.10-5.0.0.jar gives error when used with ES 5.4.2

### Issue description
ES 5.4.2
Spark 1.6
Scala 2.10

If using `elasticsearch-spark-13_2.10-5.4.2.jar` with elasticsearch 5.4.2, everything works great.  But if using `elasticsearch-spark-13_2.10-5.0.0.jar` with elasticsearch 5.4.2, call to `sqlContext.esDF()` and `DataFrame.sho

[2017-06-27 18:12] jbaiera commented on #1007
ES-Hadoop 5.0.0 is not expected to work with any versions of Elasticsearch over 5.0. More recent versions of Elasticsearch have made small breaking changes that require a newer version of ES-Hadoop with fixes implemented for those changes. In order to interact with ES 5.4.x you will need a version of ES-Hadoop at or above the version of Elasticsearch you are using.

I'll update the README to make

[2017-06-27 18:12] #1007 closed

[2017-06-29 13:44] umnick84 opened #1010 "No way to define spark MapType from ES index schema"
I would like my index fields to be converted into spark MapType rather than StructType. So that spark can in turn map this type to Map[String, String] or Map[String, Object]. I didn't find any configuration to mark a field as Map.
Is it possible?

[2017-06-29 14:24] jbaiera commented on #1010
Please try to keep questions like these to the [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop). We reserve Github for reproducible bugs and feature tracking.

When ES-Hadoop reads data from Elasticsearch in SparkSQL, it converts nested objects into Rows under a StructType data type in the schema. Getting the data as a Map should be fairly straightforward as all you will need to do

[2017-06-29 14:24] #1010 closed

[2017-07-02 13:47] dmarkhas commented on #276
+1

[2017-07-05 14:41] jbaiera commented on #1005
Closing this for now since there's been no response.

[2017-07-05 14:41] #1005 closed

[2017-07-05 14:42] jbaiera commented on #1003
Closing this as there's been no further conversation.

[2017-07-05 14:42] #1003 closed

[2017-07-05 14:49] jbaiera commented on #985
This is fixed in master for 6.0, and the new separator will be available in 5.5 along with deprecation warnings.

[2017-07-05 14:49] #985 closed

[2017-07-07 18:34] jbaiera opened #1012 "Support Elasticsearch "join" types"
With the eventual removal of multiple types in one index, the handling of parent-child type data has changed a bit in Elasticsearch. There is a new `join` mapping type that allows users to model their data in a parent-child relationship without the use of different types. A few factors that ES-Hadoop must consider for this:

1. We must continue to support "parent" headings for legacy Elasticsearch

[2017-07-12 02:56] jbaiera opened #1013 "Upgrade to Spark 2.2"
Spark 2.2 was released today with some major changes - primarily focused around Spark Structured Streaming leaving the "Experimental" phase. We should get to 2.2 as fast as possible so that we can support it in the next 6.0 alpha/beta release.

[2017-07-12 02:58] #1013 closed

[2017-07-12 17:47] jbaiera commented on #881
This specific deprecation has been addressed in the connector with 2f4e3a5d8a50aeeb5875c0fdcb267610d61f5350

[2017-07-12 17:47] #881 closed

[2017-07-12 17:50] jbaiera commented on #828
I'm going to go ahead and close this for now since _ttl is currently deprecated and removed in 6.0.

[2017-07-12 17:50] #828 closed

[2017-07-12 17:54] jbaiera commented on #783
This is a fairly old ticket and the conversation has seemed to trail off. Based on previous discussion it seems that there's a problem in communication between ES and LDAP that is causing the requests to hang for long periods. If this is still an issue we can start up the conversation again. Closing this until then.

[2017-07-12 17:54] #783 closed

[2017-07-12 17:57] jbaiera commented on #502
Some added information here: Refreshing an index requires administrative permissions on the index when security is enabled, which is not always something that users have configured for their jobs. On top of that, the support for doing this in technologies like MR and Hive where we don't fully wrap the execution of the job (like in the case of Spark) seems to be a big blocker for implementing this.

[2017-07-12 17:59] jbaiera commented on #429
Closing this as the ES-on-YARN Beta is now deprecated and will be removed in 6.0

[2017-07-12 17:59] #429 closed

[2017-07-12 18:00] jbaiera commented on #815
Closing this as the ES-on-YARN Beta is now deprecated and will be removed in 6.0

[2017-07-12 18:00] #815 closed

[2017-07-12 18:00] jbaiera commented on #696
Closing this as the ES-on-YARN Beta is now deprecated and will be removed in 6.0

[2017-07-12 18:00] #696 closed

[2017-07-12 18:01] jbaiera commented on #669
Closing this as the ES-on-YARN Beta is now deprecated and will be removed in 6.0

[2017-07-12 18:01] #669 closed

[2017-07-12 18:01] jbaiera commented on #366
Closing this as the ES-on-YARN Beta is now deprecated and will be removed in 6.0

[2017-07-12 18:01] #366 closed

[2017-07-12 18:01] jbaiera commented on #886
Closing as duplicate of #887

[2017-07-12 18:01] #886 closed

[2017-07-12 18:02] jbaiera commented on #1001
Closing this as the deprecations have been broadcast through all channels

[2017-07-12 18:02] #1001 closed

[2017-07-13 12:58] scottsom opened #1014 "pom.xml not marking optional dependencies correctly"
The pom.xml in the Maven distribution of this package does not appear to be well formed.

For example:
https://repo.maven.apache.org/maven2/org/elasticsearch/elasticsearch-hadoop/5.5.0/elasticsearch-hadoop-5.5.0.pom

Has this dependency:
[code]
However, there is no such thing as an _optional_ scope:
https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Dependency_S

[2017-07-14 15:38] #938 closed

[2017-07-14 16:10] jbaiera commented on #1012
This is complete with the inclusion of 359026d786742cc2b7bb019c1f3618a48d453084

[2017-07-14 16:10] #1012 closed

[2017-07-14 21:13] jbaiera commented on #946
I'm pretty sure that 093e9881665c496c4354c8d474ac551919355166 fixed the root problem here. I've added explicit parsing rules for writing and requiring types, but for reads, we assume all types under the matching indices given.

[2017-07-14 21:13] #946 closed

[2017-07-17 20:25] #965 closed

[2017-07-18 00:37] JohnS89 opened #1015 "Using es.mapping.exclude/include and still getting StrictDynamicMappingException on excluded fields"
### What kind an issue is this?

- [X ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting o

[2017-07-18 13:54] SergeVil opened #1017 "Significant slowdown when I query the index with mapping"
### Issue description

I run the same pyspark program on two indices with the almost same amount of data:

For vertex1 17.3Gi/34.3Gi 35.6M
For other_vertex_2 19.3Gi/38.6Gi 35.6M

The first index (vertex1) does not have a mapping applied. It takes 9 mins to read.

The second index (other_vertex_2) has a mapping (see attached file) and it takes 38 mins to read.

### Steps to reproduce
[code]
### Ver

[2017-07-18 13:56] SergeVil commented on #1017
Attached mapping
[bug.json.txt](https://github.com/elastic/elasticsearch-hadoop/files/1156052/bug.json.txt)

[2017-07-18 16:48] jbaiera commented on #1017
I'm confused about what you mean by:

If an index has data in it, it should have a mapping, whether it was set by the user or not... are the mappings drastically different?

I also noticed that you are not specifying a type on your elasticsearch resource. This can lead to issues with reading data since the connector has a bug with how it processes multiple mappings and indices without types provid

[2017-07-18 16:59] jbaiera commented on #1015
Hi there, could you include `TRACE` level logging here from your job? Hopefully this will help clarify the issue.

[2017-07-18 17:00] SergeVil commented on #1017
Hi James,

How should I setup my logging levels? Should I modify my pyspark code?

Thank you,
Serge

[2017-07-18 17:11] jbaiera commented on #1017
Setting logging levels is based on how you have spark deployed. The Spark documentation goes into detail on how to provide a log4j file: http://spark.apache.org/docs/latest/running-on-yarn.html#debugging-your-application

[2017-07-18 17:44] SergeVil commented on #1017
Which one do you mean:

log4j.rootCategory=INFO, console
log4j.logger.org.apache.spark.repl.Main=WARN

or any other?

[2017-07-18 17:49] jbaiera commented on #1017
You'll want to set the levels for the `org.elasticsearch.hadoop` packages to `TRACE`

[2017-07-18 17:53] SergeVil commented on #1017
Where are they specified?

I know only

log4j.logger.org.elasticsearch.hadoop.rest.commonshttp=TRACE

What are the other ones?

[2017-07-18 18:04] jbaiera commented on #1017
Log4J should inherit the log level for all classes under the given package name. I don't think you'll need to specify anything other than that.

[2017-07-18 18:52] JohnS89 commented on #1015
I set the log level to trace and updates the stack trace.

Also, is creating a new field and excluding it from being inserted the only way to get elasticsearch-hadoop to use a document id that is a combination of two fields?

[2017-07-18 19:01] jbaiera commented on #1015
For the time being, that is correct. It's fairly easy to generate a field via the provided tools that we integrate with, so we just provide the ability to pull a value from a field for specifying those pieces of metadata. This keeps the connector simpler and easier to test.

Thanks for the logs, but the attached log contents seem like they're just from the job driver. Could you include the logs fr

[2017-07-18 19:41] JohnS89 commented on #1015
Added the workers logs

[2017-07-18 20:39] jbaiera commented on #993
Relates to #505 - The original idea here apparently seems to be that if there's no way to reach a host or the host is unknown, then the reason is that the local worker has a topology problem and should exit out. While it's not a bad point, and dying with dignity earlier than later is often more preferable, there are situations where we can still try other node addresses in the retry logic before f

[2017-07-19 09:15] yosid16 opened #1018 "Cannot initialize SSL - "Cannot open stream" exception by EsHadoop connector for spark after upgrading to version 2.2"
### Issue description

After upgrading local version of spark to 2.2, EsHadoop connector fails to connector to remote elastic cluster with the following error:

### Steps to reproduce
Any read/write operation fails, for example(replace the path/host prior to executing this):
[code]

Strack trace:

[code]

### Version Info
I've first experienced this with ES-Hadoop  version  5.4.1. Tried to upgrade

[2017-07-19 10:15] ShubhamSisodia0590 opened #1019 "Not able to use kryoserializer for writing data into Elastic Search."
### What kind an issue is this?

- [ ] Bug report.

**Not able to use kryoserializer for writing data into Elastic Search.**

When i just set the "spark.serializer" as KryoSerializer.class.getName() in spark conf it is giving me exception

org.elasticsearch.hadoop.serialization.EsHadoopSerializationException: Cannot handle type [class com.spark.apps.pojo.AnalyticsOneDayData] within type [class com

[2017-07-19 14:52] simonlucalandi opened #1020 "update RestClient.java to use HEAD /{index}/_mapping/{type} instead of deprecated HEAD /{index}/{type}"
### Issue description
ES 5.5.0 doesn't support anymore requests like HEAD /{index}/{type} , as used in method exists of org.elasticsearch.hadoop.rest.RestClient . Now it should be HEAD /{index}/_mapping/{type}
Description

### Steps to reproduce

Code:

[code]

Strack trace:

[code]

### Version Info

OS         :  Linux
JVM         :  openjdk version "1.8.0_111"
Hadoop/Spark:  2.2
ES-Hadoop   :

[2017-07-19 15:06] jbaiera commented on #1020
@simonlucalandi Are you sure you are on the 5.5.0 release for ES-Hadoop on all nodes? This should be fixed with b8d265724364f2b66b58cdcd1d01176c39dd11c8 which is included in the 5.5.0 release.

[2017-07-19 15:56] jbaiera commented on #1018
@yosid16 Is this the complete stack trace? Is there anything else in the logs for the job that you can post here?

[2017-07-19 16:02] yosid16 commented on #1018
Updated the stack trace - now it's complete. No errors except that one. There are no errors except that one in the log.

[2017-07-19 16:14] jbaiera commented on #1018
@yosid16 This seems to be a completely different stack trace now. Instead of the SSL error, it looks like it was able to open the connection and received back a 503. Can you post the entire set of logs here?

[2017-07-19 16:19] jbaiera commented on #1019
@ShubhamSisodia0590

I think you might be using `es.ser.writer.value.class` incorrectly here. That is for implementations of the internal `ValueWriter` class that takes record types from different integrations (`Row`s from SparkSQL, `Tuple`s from Pig, `Writable`s from MapReduce, etc) and converts them to JSON data for use in Elasticsearch. The KryoSerializer, on the other hand, is used for sending

[2017-07-19 16:33] ShubhamSisodia0590 commented on #1019
It was not working without KryoSerializer as well and was throwing similar exception as with spark.serializer as kryo.

I have getters and setters in my actual code for all the fields but i haven't pasted that here .

Is this because of array of objects within an object ? Is that supported with default serializer ?

[2017-07-19 16:57] yosid16 commented on #1018
Sure (removed host names, and some file paths)
[spark.zip](https://github.com/elastic/elasticsearch-hadoop/files/1159859/spark.zip)

[2017-07-19 18:17] jbaiera commented on #1019
It looks like a specific instance of `AnalyticsOneDayData` is not able to be serialized by the value writer code. Java bean classes are only supported as the top level objects for writing out to at the moment.

I dug into why this is and found that it's actually rather difficult to support collections of Java bean classes. We have value writers for Scala and Java objects, and the Scala version del

[2017-07-19 18:40] jbaiera opened #1021 "Support nested collections of Java Bean classes in Spark"
Our Spark integration can handle JavaBean style classes. A corner case exists with that right now that keeps the serialization from succeeding:

1. A java bean class at the root (call this BeanA.class)
2. BeanA has a java.util.Map with a String key and a BeanB value type
3. BeanB is a simple java bean

How this breaks:
1. The `ScalaValueWriter` sees BeanA and converts it into a Scala Map. It passe

[2017-07-19 18:40] jbaiera commented on #1019
I opened #1021 to track the root cause of this issue.

[2017-07-19 19:08] ShubhamSisodia0590 commented on #1019
Is there any work around till then ?

Should I create a JSON object and then convert it to JavaRDD<String> using toString on JSON, and then persist the JSON using saveJsonToEs.

I did a POC and saw that was working as it doesn't perform any serialization.

Is that recommended ? Will that have any performance impact ?

[2017-07-19 19:28] jbaiera commented on #1018
Thank you for adding the full logs. This is the line here that jumped out for me:
[code]

1. That's a horrid error message which is incredibly misleading. I'll be committing a fix to make that message less confusing.
2. The connector cannot find or open your truststore file. Once again, the root reason for why it cannot is lost because we swallow the exception instead of passing it as the cause fo

[2017-07-19 19:37] jbaiera commented on #1019
Using saveJsonToEs is a pretty safe move - It doesn't perform any serialization logic and is generally considered much faster than using the rich serialization since it doesn't have to perform any parsing. Other alternatives would be to use java Map objects instead of java beans, where the key of the map is the field name and the value is the value to store. Most users of the Spark integration are

[2017-07-19 19:37] yosid16 commented on #1018
Thanks for checking it. This runs locally, I have access to the truststore path which does exist (when spark runs with version 2.1 it enables to access it). I'll try again tomorrow when we have more information about the cause.

[2017-07-19 19:45] jbaiera commented on #1015
Thanks for the worker logs. I'll see about getting a clean reproduction of this.

[2017-07-20 06:16] simonlucalandi commented on #1020
The right question is: "are you sure that you are using the elasticsearch-hadoop-5.5.0.jar?" : we just found that the custom docker image we were using, while labeled "ES5.5", was not using the elasticsearch-hadoop-5.5.0.jar.

Very sorry for raising a false issue

[2017-07-20 06:16] #1020 closed

[2017-07-20 13:35] jbaiera commented on #1020
All good, cheers!

[2017-07-20 14:43] SergeVil commented on #1017
Please, see attached.

I included mappings created using the commands like:
curl –XGET 'localhost:9200/vertex1/_mapping' > vertex1.map
and traces created with log4j.logger.org.elasticsearch.hadoop=TRACE

[serge_logs.zip](https://github.com/elastic/elasticsearch-hadoop/files/1162644/serge_logs.zip)

[2017-07-20 15:12] splikhita opened #1022 "Importing data to ElasticSearch using Pig"
### What kind an issue is this?

- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.

### Issue description

I'm importing data to elasticsearch using apache pig. First I installed apache pig, then downloaded ES-Hadoop jar file and imported it to HDFS. While running the commands f

[2017-07-20 20:04] jbaiera commented on #1017
Thanks for the logs! The big thing that I've noticed is that you are not specifying any type names with your indices: When ES-Hadoop tries to discover the mappings for your index, it is only reading ONE mapping from the list of types, which could be causing inconsistent time spent serializing. Here's an example:

[code]

Here, when reading data from `other_vertex_2` index, unless the data being re

[2017-07-20 20:09] jbaiera commented on #1022
@splikhita I would download and try the latest ES-Hadoop version to see if the problem you are seeing is already resolved. ES-Hadoop supports all the way back to the 1.7 line from the current 5.5.0 release.

Second, could you increase the logging level to `TRACE` on the `org.elasticsearch.hadoop` package and post the resulting logs here?

[2017-07-20 20:56] splikhita commented on #1022
Thank you so much for your response sir. I am new to this area, So if you don't mind could you please let me know where to change the logging level.

[2017-07-20 23:29] SergeVil commented on #1017
James, thank you for the analysis!

I tried to increase es.input.max.docs.per.partition, but it worked worse, so I tried to decrease it to 10,000 and it worked better. The first index scanning time increased to 11 minutes, but the second time decreased to 19 minutes (twice faster). I notice no dead Spark tasks like I saw before.

I have two questions. What do you mean by "reading ONE mapping from

[2017-07-21 00:17] JohnS89 commented on #1015
Just for the record, writing a hive script with the same parameters instead of using pig worked as expected.

[2017-07-21 14:15] SergeVil commented on #1017
I also tried with type "dblp_author".

The vertex1/dblp_author took me 2.3 minutes, while other_vertex_2/dblp_author took me 3.3 minutes.

[2017-07-21 14:27] splikhita commented on #1022
I got it. I've changed all of them to TRACE and here are the logs:

[code]

[2017-07-21 14:55] jbaiera commented on #1022
@splikhita Those look like Elasticsearch logs. Could you attach the `TRACE` level logs on package `org.elasticsearch.hadoop` for your Pig job?

[2017-07-21 17:53] acchen97 opened #1023 "ES-Hadoop 6.1 Release"
Tracking high-level features for the 6.1 release:
- [x] ~Unified Release integration~

Stretch goals
- [x] ~Repository HDFS - SASL support~

/cc @jbaiera

[2017-07-21 19:17] splikhita commented on #1022
I tried to find them but couldn't. Are these on the elasticsearch-hadoop jar file?

[2017-07-21 21:41] jbaiera commented on #1017
@SergeVil the `index.max_slices_per_scroll` setting is an index level property. I would avoid increasing it above 1024, as that may have negative side effects on your Elasticsearch cluster. Instead, I would tune your `es.input.max.docs.per.partition` value to keep the number of tasks below that number.

When I say "reading ONE mapping from the list of types" I mean that Elasticsearch indices can h

[2017-07-21 21:48] jbaiera opened #1024 "Document How to Set Logging Levels"
Setting up logging levels in Hadoop is often times a confusing task, especially when each of our supported integrations does it ever so slightly different from each other. Since often times getting `DEBUG` or `TRACE` level logging from the connector is critical to resolving issues or bugs perhaps it makes sense for us to simply document the ways to set the logging levels for packages for the integ

[2017-07-21 21:54] jbaiera commented on #1017
@SergeVil To be clear: The issue with multiple types relates to #938 and #850 and was solved in 093e9881665c496c4354c8d474ac551919355166

[2017-07-21 21:59] jbaiera commented on #1022
@splikhita You'll have to modify the log4j properties file for Pig to allow the `org.elasticsearch.hadoop` package to log at the `TRACE` level. That file is often located in the home directory where Pig is installed.

[2017-07-21 22:05] jbaiera commented on #1015
@JohnS89 I haven't had a chance to look too deeply into this yet, but I have a suspicion that this has to do with how the Pig serialization logic in the connector handles tuples: See [these lines](https://github.com/elastic/elasticsearch-hadoop/blob/master/pig/src/main/java/org/elasticsearch/hadoop/pig/PigValueWriter.java#L231-L242). Normally before writing an entry that has a name that name shoul

[2017-07-21 22:12] jbaiera opened #1025 "Support Scala 2.11 by Default in ES-Hadoop 6.0"
Currently we compile our Spark code on both versions 2.10 and 2.11 and package both of them in the distribution zip file. That said, we pull in the 2.10 version into the ES-Hadoop combined jar. The Spark project has deprecated Scala 2.10 as of Spark 2.2.0, and support for that language level will be remove in Spark 2.3.0. As such, we should be compiling against 2.11 by default, and packaging 2.11

[2017-07-24 07:52] kiddingbaby commented on #724
the same question in es-hadoop-5.2.2, hive-1.2.1, but when i change the serde from parquet to orc is ok.

[2017-07-24 15:11] splikhita commented on #1022
Yes sir I did change it on that file but my problem is that I couldn't find the logs.

[2017-07-24 18:07] jbaiera commented on #811
This seems to be [fixed in 5.0.0](https://github.com/elastic/elasticsearch-hadoop/commit/dd1d6036fa9ee21d9a3082226a152d40cce9ede7#diff-98b0b8f1a4399ff0a3d596156d752e1cR790). I'm going to close this out.

[2017-07-24 18:07] #811 closed

[2017-07-24 18:11] jbaiera commented on #962
Closing this out since there has been no further activity.

[2017-07-24 18:11] #962 closed

[2017-07-24 18:11] jbaiera commented on #989
Closing this out since there has been no further activity.

[2017-07-24 18:11] #989 closed

[2017-07-24 19:04] #1006 closed

[2017-07-24 19:04] #1015 closed

[2017-07-24 19:04] #1021 closed

[2017-07-24 21:09] splikhita commented on #1022
Hello @jbaiera, I figured out that there were few canges which I have made in the elasticsearch, which was causing the errors. Now I am able to run the commands of loading data into elasticsearch using pig but it gives me an error just for the datetime field. Here is what happens:

From the grunt console I've registered ES-Hadoop jar file with pig:
[code]
Then, load the CSV data file as a relation

[2017-07-25 16:34] splikhita opened #1026 "ES-Hadoop Pig"
- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
### Issue description

I'm trying to load a json document to elasticsearch and run but it pops out an error

Description

Used the below command to load data:
[code]
[code]
[code]
### Steps to reproduce

Below is the error:
[code

[2017-07-25 20:42] jbaiera commented on #1026
@splikhita I'll need `TRACE` level logs here to diagnose the exact problem, but it's possible that your data is simply malformed in some spots and Elasticsearch cannot parse it successfully.

[2017-07-25 21:16] jbaiera commented on #1017
@SergeVil To address your comment about the snapshot:

I'm not sure why it's not displaying the artifacts, but it is indeed there. If you include `6.0.0.BUILD-SNAPSHOT` as the version in your build script it should be pulled down just fine.

[2017-07-26 15:06] splikhita commented on #1026
This is the latest Pig Stack Trace I could find sir:
[code]

[2017-07-26 15:20] jbaiera commented on #1026
@splikhita This seems to be a completely different problem than the one you posted above. I took a look around and this error seems to be tied to problems with the Pig Script syntax. Are you still seeing the previous stack trace in this case? Have you modified your script in any way?

[2017-07-26 16:02] splikhita commented on #1026
Right now I'm unable to load a json file to elasticsearch using pig. Rest works fine sir.

[2017-07-26 16:04] splikhita commented on #1026
I couldn't find any other logs except these on my Home directory.
While uploading json it gives me this:
[code]

[2017-07-26 17:19] jbaiera commented on #1026
Loading JSON to Elasticsearch through ES-Hadoop uses the same Rest Client under the hood. The only thing that is different is how it parses the data (in json mode it just uses the json string as the document).

When you launch the Pig script, is it spinning up a job on your Hadoop cluster? Can you pull the logs from the worker nodes? You should be able to configure your Hadoop cluster to increase

[2017-07-26 17:26] jbaiera commented on #1022
The issue here seems to be with the format of the date not being recognized by Pig. Try loading the date as a string, and converting it to a Date using `ToDate(date, '<some format string>') AS date` within a `GENERATE` statement.

Since the original problem seems to be solved, I'm going to go ahead and close this issue.

[2017-07-26 17:26] #1022 closed

[2017-07-26 18:44] splikhita commented on #1026
I'm not using a cluster, I'm running it on a single node.

[2017-07-26 19:43] jbaiera commented on #1026
@splikhita In your pig installation location, there should be a `conf` directory. Copy the `log4j.properties.template` file to a new file name and add this line to it:

[code]

When you start up pig in local mode, run the command like so:

[code]

At this point, the shell should be logging the hadoop package at `TRACE` level into the console that you are running. Once you are in the console, run y

[2017-07-26 20:16] splikhita commented on #1026
I've done what you have said. When the job is run on the console, here is what it gives:
[code]

And when I run it after starting pig i.e., in the grunt mode:
[code]

[2017-07-26 20:29] jbaiera commented on #1026
@splikhita It looks like you're running the Pig command to open the terminal then running the pig command again. What are your commands you're trying to run here?

[2017-07-26 20:34] splikhita commented on #1026
Okay I've run the pig command that you asked me to:
[code]
The result for it is as follows:
[code]

[2017-07-26 20:38] jbaiera commented on #1026
@splikhita Now that the grunt shell is started, can you run your regular Pig commands and post the full console log here?

[2017-07-26 21:03] splikhita commented on #1026
This used to run successfully before but now I get some errors and the job failed.
[code]
[code]

[2017-07-26 21:04] splikhita commented on #1026
[code]

[2017-07-26 21:05] splikhita commented on #1026
There is a lot of data in the dataset. So there are more logs. Apologies!!

[2017-07-26 21:09] jbaiera commented on #1026
@splikhita Log volume is not a big deal. If you want you can always post the logs to a gist or a pastebin.

The error you're running into seems to be this:

[code]

I'm assuming this data is normally stored on HDFS? You'll have to specify an absolute path for the file, and to make sure that the file exists before running the job.

[2017-07-26 21:11] splikhita commented on #1026
The file exists in HDFS:
[code]

[2017-07-26 21:15] jbaiera commented on #1026
@splikhita You might have to specify the file with the full HDFS path: `hdfs://<hdfsNameNodeAddress>:<hdfsNameNodePort>/ch07/crimes.json`

[2017-07-26 21:37] splikhita commented on #1026
Tried it @jbaiera, it's the same:
[code]

[2017-07-26 21:39] jbaiera commented on #1026
@splikhita Can you try it with the file copied to your local machine instead of HDFS?

[2017-07-26 21:42] splikhita commented on #1026
No luck sir.
[code]

[2017-07-26 21:46] splikhita commented on #1026
I used this command for the above result:
[code]

[2017-07-27 14:50] jbaiera commented on #1026
@splikhita This works for me if I preface the path with `file://`, try with `file:///home/eshadoop/Downloads/eshadoop-master/ch07/data/crimes.json` to see if that helps. If not, either the file is simply missing or you should open an issue with Pig as that does not seem to be related to the connector.

[2017-07-27 15:36] dalibor-frivaldsky commented on #844
@jbaiera  In our company we are running into this issue as well. A lot of our data live in Elasticsearch 1.7.2 cluster with `_source` disabled for most of the mappings. We would like to be able to query these data through Hive or run Spark jobs on top of them.

We would be interested in helping with this enhancement. Would you be willing to help me understand this part of es-hadoop, describe the p

[2017-07-27 16:57] splikhita commented on #1026
Gives me this error:
[code]

[2017-07-27 20:04] jbaiera commented on #1026
@splikhita Unfortunately it looks like this a problem with your version of Pig. I would move this discussion to the Pig Mailing list to see if they have any input. I'm going to close this out for now.

[2017-07-27 20:04] #1026 closed

[2017-07-27 20:17] jbaiera commented on #1019
This should be fixed with #1021

[2017-07-27 20:17] #1019 closed

[2017-07-28 05:55] ghostband commented on #791
i have the same question here.  And my es cluster was deployed whit my hadoop cluster.
i want to write data to es whit spark dataframe.
And following is my maven repository:
<dependency>
      <groupId>org.elasticsearch</groupId>
      <artifactId>elasticsearch-spark_2.10</artifactId>
      <version>5.0.0-alpha4</version>
</dependency>

es version 5.5.0
spark 1.6.0
scala 2.10.5

The exception is

[2017-07-28 14:14] b-l-a-c-k-b-e-a-r-d commented on #999
I may be missing something that will help resolve this, but this issue is severely limiting the usefulness of the library.  The only way we have found to recover from these errors is to blow away the index and hope there are no failures the next time.  We can reduce parallelism of indexers, but that does not guarantee an error-free run and comes at a large cost in terms of indexing time.

Is this

[2017-07-28 14:31] jbaiera commented on #999
@b-l-a-c-k-b-e-a-r-d I'm interested in knowing more about your situation here. I'm not sure how the problem you are describing is related to this ticket. Could you elaborate?

[2017-07-28 14:42] b-l-a-c-k-b-e-a-r-d commented on #999
Sure.

We process a lot of data in Spark and often need to index the results into Elasticsearch.  We have been able to use the ES-Hadoop library to do this, but we never know until indexing completes whether or not all of the documents made it into the index (we determine this by counting the number of docs in the index and comparing to the number we expected to go in).

If we find there are fewer

[2017-07-28 14:47] jbaiera commented on #999
@b-l-a-c-k-b-e-a-r-d If you index into Elasticsearch using an ID, that should allow you to safely rerun the job. Also, this ticket is in regards to documents that currently fail the job when they cannot be inserted. I would update your processing to store your documents using a pre-generated ID to begin with, and then to open an issue if you are still seeing dropped documents.

[2017-07-28 15:08] splikhita opened #1028 "ES-Hadoop Yarn"
- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.

### Issue description

I am working on ES-Hadoop Yarn. I have trouble uploading elasticsearch yarn jar file to HDFS.

### Steps to reproduce

This is what I did:

Downloaded elasticsearch yarn
[code]
Downloaded the elasticsearch

[2017-07-28 15:14] jbaiera commented on #999
@b-l-a-c-k-b-e-a-r-d we're also looking to get something like this ticket working soon. If not with an underlying queue, at least in a way that lets users log and ignore data that breaks or fail with more helpful messages.

[2017-07-28 15:15] gmoskovicz commented on #999
For example in Logstash there is a Dead Letter queue that contains failed messages, so we could do something similar here.

[2017-07-28 15:19] jbaiera commented on #1028
@splikhita The YARN integration for ES is currently deprecated and will be removed in 6.0.0. I would advise using a different way to deploy Elasticsearch as there will likely be no further updates to it.

[2017-07-28 15:19] #1028 closed

[2017-08-01 18:00] #970 closed

[2017-08-01 18:04] jbaiera commented on #575
I'm going to go ahead and close this out since it seems that the conversation has trailed off. If this is still a problem, the issue can be re-opened.

[2017-08-01 18:04] #575 closed

[2017-08-01 18:10] jbaiera commented on #761
Closing this on lack of feedback. Will re-open if this is still an issue.

[2017-08-01 18:10] #761 closed

[2017-08-01 18:11] jbaiera commented on #932
Related to #801

[2017-08-01 18:19] jbaiera commented on #922
@alfredcs Your issue in this seems to be unrelated to the original reported issue.

@aginpatrick It's possible that you are getting hit with networking issues on your cluster. Do you keep your nodes behind a proxy normally? It's possible that the connector is discovering the http addresses of your nodes and cannot reach them effectively. You may be able to get around this by enabling `es.nodes.wan

[2017-08-01 18:22] jbaiera commented on #923
Closing this as it seems to not be an issue any longer.

[2017-08-01 18:22] #923 closed

[2017-08-01 18:26] jbaiera commented on #407
Closing this since this is a fairly old ticket. The query parsing logic was re-written in 5.0. If the 5.x line is still not working with DSL queries, then we can open a new ticket to address.

[2017-08-01 18:26] #407 closed

[2017-08-01 18:43] jbaiera commented on #394
The issue here that is tripping up the table creation is that the `array<map<string,string>>` column is being used as the script parameter. For the time being, we only support using primitives in the script params for Hive.

[2017-08-01 22:40] brendankerrison opened #1030 "Unable to overwrite dataframe when documents have parent"
I am trying to write a dataframe to Elasticsearch from Spark using ES-Hadoop 5.5.1. The documents are being written as children of pre-existing parent documents. Everything is working correctly the first time the DF is saved however it fails when attempting overwrite with:

[code]

Looking at the code, it does not look like the routing or parent of the documents being deleted is used when creating

[2017-08-02 06:17] gnh1201 opened #1031 "sc.esRDD change ip address after SparkContext"
I want change sc.esRDD ip address after run SparkContext.

According to documentation, IP(es.nodes) address are changeable before run SparkContext.
but, I want change ip address after run SparkContext.

=== case 1 ===
conf: SparkConf
conf.set("es.nodes", "ip-address")    -> possible
sc: SparkContext(conf)

=== case 2 ===
conf: SparkConf
sc: SparkContext(conf)
conf.set("es.nodes", "ip-address")

[2017-08-02 06:57] doctor-q commented on #753
is there solution ?

[2017-08-02 13:59] SergeVil commented on #1017
James,

If I query comma separated multi-type, may it help to improve the performance? (https://www.elastic.co/guide/en/elasticsearch/guide/current/multi-index-multi-type.html)

I need to query several types at once.

[2017-08-02 18:00] jbaiera commented on #1017
@SergeVil As long as you are using the snapshot that contains 093e988 in it, then it's possible that you could see a speed up by stating the types directly. If you have many types but only want to read from a subset of those, it can help with performance. The connector would ignore any data that does not belong to the types you have explicitly specified. If you are reading all the types on an inde

[2017-08-02 18:05] jbaiera commented on #1031
Hi @gnh1201, we reserve Github for bug reports and feature requests only. In the future, please ask questions like these in the [ES-Hadoop forum](https://discuss.elastic.co/c/elasticsearch-and-hadoop) instead. You should be able to apply settings to a job on the SparkContext, AND [via the save commands](https://www.elastic.co/guide/en/elasticsearch/hadoop/current/spark.html#spark-write-scala) (fro

[2017-08-02 18:05] #1031 closed

[2017-08-02 18:14] jbaiera commented on #753
@doctor-q This is a really old issue and is most likely a configuration error (The connector could not reach the local Elasticsearch instance). If you have a similar issue, I suggest opening an issue on our [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop)

[2017-08-02 19:57] #1025 closed

[2017-08-02 20:05] jbaiera commented on #700
This seems like a very old issue, but there has not been any feedback gathering. I would try this on a newer version of ES-Hadoop and if the problem persists, feel free to open a new issue for it.

[2017-08-02 20:05] #700 closed

[2017-08-02 20:06] jbaiera commented on #697
Looks like this is related to #856

[2017-08-02 20:12] jbaiera commented on #689
Closing this since the conversation has slowed down and drifted from the original issue. The usage of sorting within an input split is a very niche use case and not one that we have on the immediate roadmap. If there is still reasonable push from the community for it then a new issue should be opened for the feature.

[2017-08-02 20:12] #689 closed

[2017-08-02 20:14] jbaiera commented on #356
Cleaning up older issues. Closing this as the original issue seems to be resolved.

[2017-08-02 20:14] #356 closed

[2017-08-03 07:10] wangxuegang1214 commented on #694
'es.mapping.date.rich'='false'

[2017-08-04 08:14] sasauz commented on #791
I have also the same question but in hive 2.4.2 and Elastic 5.5.0
`FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. org.elasticsearc   h.hadoop.EsHadoopIllegalArgumentException: Cannot detect ES version - typically this happens if the    network/Elasticsearch cluster is not accessible or when targeting a WAN/Cloud instance without the p   roper setting 'es.nodes.

[2017-08-07 03:14] adriancole opened #1032 "Backwards compatibility"
### Issue description
We'd like to use the latest version (6.x) of the hadoop driver for Elasticsearch 2.x+. Currently, we can't because prior versions fail with `EsHadoopInvalidRequest` when running our spark job.

### Details
To keep things simple for users, zipkin has been using backwards compatibility to support a range of ES versions with one spark job. In using latest (6.0.0-alpha2), prior v

[2017-08-07 15:25] jbaiera commented on #1032
@adriancole This is already fixed in master with 2f4e3a5, and will be released with the 6.0.0-beta1 release soon. If you would like to test with this sooner, you can check out the nightly snapshot builds.

[2017-08-07 21:25] #1032 closed

[2017-08-08 04:09] adriancole commented on #1032
this one's gone, thanks! I found something else affecting 2.x will get to the bottom of it and raise another issue if necessary.

[2017-08-08 05:57] adriancole opened #1034 "Scroll Id regression on Elasticsearch 2.4.5"
Zipkin is currently testing Elasticsearch 6.x for our dependency linking spark job and we noticed that latest snapshots break 2.x. Looking at wire logs, it seems this is around scroll ids, as you'll notice that with snapshot no scrolls are used, eventhough 5.5.1 is ok. I reverted 1190be71dcca9cfabb9af1ce43e5cc4a6546a68b and things are back to normal. I suspect there's something subtle missed.

Log

[2017-08-08 05:59] adriancole commented on #1032
I think I found the other problem here: https://github.com/elastic/elasticsearch-hadoop/issues/1034

Happy to test any fix

[2017-08-08 06:04] adriancole commented on #935
PS I may be wrong, but I think the fix to this caused a regression on 2.x. PTAL https://github.com/elastic/elasticsearch-hadoop/issues/1034

[2017-08-08 16:00] jbaiera commented on #1034
I think I see where the problem is here - The internal scroll management code assumes that if the first scroll request does not contain any records, then the rest of the scroll will not (regardless if the total number of hits is non-zero). This is surprising because we have tests that should recreate this behavior, but it doesn't reproduce with them. Can you share your reproduction steps here? I'l

[2017-08-09 00:25] adriancole commented on #1034
Hi james. Thanks for looking into it.

In hopes that this doesnt cause you too much work..

Clone https://github.com/openzipkin/zipkin-dependencies

Set this to the snapshot version
https://github.com/openzipkin/zipkin-dependencies/blob/master/elasticsearch/pom.xml

Run this
https://github.com/openzipkin/zipkin-dependencies/blob/master/elasticsearch/src/test/java/zipkin/storage/elasticsearch/http/

[2017-08-10 05:55] adriancole commented on #1034
This hack of `AbstractJavaEsSparkTest.testEsRDDZRead` seems to do the trick.

[code]

[2017-08-10 15:45] #1034 closed

[2017-08-10 15:46] jbaiera commented on #1034
@adriancole Thanks for the reproducing test! The fix should make its way into a snapshot build soon.

[2017-08-12 08:11] adriancole commented on #1034
verified that current master works. Really excited for the next beta, as when that's out folks can try Elasticsearch 6.x with Zipkin (right now, they can but the service graph functionality doesn't work due to this)

[2017-08-14 20:11] splikhita opened #1036 "Elasticsearch hadoop"
- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.

### Issue description

I'm working on real-time analytics with twitter trend analyser. I'm using Apache Storm to inject streaming data. I've generated the twitter access codes and updated them on TweetsCollectorSpout.java file.

[2017-08-14 20:54] jbaiera commented on #1036
Please ask these questions on the [forum](https://discuss.elastic.co/c/elasticsearch-and-hadoop) from now on. Github is reserved for confirmed bugs and feature tracking only. If you feel that Github is the proper place for this thread, please follow the issue template by including a reproduction of the bug.

ES-Hadoop's Storm Integration only uses the HTTP endpoint of Elasticsearch (port 9200). Th

[2017-08-14 20:54] #1036 closed

[2017-08-15 06:59] qi20088 opened #1037 "Exception in thread "main" org.elasticsearch.hadoop.rest.EsHadoopInvalidRequest: [HEAD] on [spark/docs] failed; server[172.16.2.11:9200] returned [400|Bad Request:]"
[                          main] Version                        INFO  Elasticsearch Hadoop v5.0.0-rc1 [9731edef2a]
Exception in thread "main" org.elasticsearch.hadoop.rest.EsHadoopInvalidRequest: [HEAD] on [spark/docs] failed; server[172.16.2.11:9200] returned [400|Bad Request:]
	at org.elasticsearch.hadoop.rest.RestClient.checkResponse(RestClient.java:488)
	at org.elasticsearch.hadoop.rest.RestCl

[2017-08-15 07:04] qi20088 commented on #1037
I can writing data to es !

[2017-08-15 07:34] qi20088 commented on #1037
I have solved。the es-hadoop verion's broblem.
use  es-hadoop : elasticsearch-spark-20_2.11 / 5.5.0 it is ok!

[2017-08-15 07:34] #1037 closed

[2017-08-15 15:42] jbaiera opened #1038 "Implement a handler interface for connector failures"
With the increased usage of the connector for streaming applications, the need for features that prolong a job's productive uptime is starting to come forward. In a batch use case, it might make sense to fail early and often, as batch jobs are time-bound operations that can be (and often are) easy to restart on failure. This does not translate well to streaming style jobs, where a poorly formed do

[2017-08-15 16:06] jbaiera opened #1039 "Provide other routes to specify passwords than via configurations"
A common problem with integrations like Hive is that to pass configurations into the connector, they must be set as table properties. In the cases where they need to specify authentication information for the connector, this often leads to credentials exposed on the set of properties. We should do a better job of taking advantage of the credential facilities available to us through Hadoop and allo

[2017-08-16 20:47] #887 closed

[2017-08-17 06:58] qindeqiang commented on #862
@michaelqiu94  My ES Cluster is 5.5.1，I have download the newest jar to resolve the issue.The following is download url:https://mvnrepository.com/artifact/org.elasticsearch/elasticsearch-spark-20_2.11/5.5.1.

[2017-08-17 09:37] qindeqiang commented on #856
Great，Configuration Params “es.read.field.as.array.include” is so import!

[2017-08-18 19:05] prabhushrikant commented on #948
Same issue for me too. What's the alternate solution?

[2017-08-19 01:53] prabhushrikant commented on #616
GIves me error when trying to read nested.nested schema like this.
[code]

[2017-08-19 20:15] synhershko commented on #379
I'm going to take this one - will probably work best as an Elasticsearch connector for Presto and then es-hadoop to support that. I'll start working this week and report as soon as I have something viable to show.

[2017-08-22 15:39] freethejazz commented on #948
@prabhushrikant I'm not experiencing this issue so I can't verify this works, but have you tried using `es.read.as.array.include`? https://www.elastic.co/guide/en/elasticsearch/hadoop/current/configuration.html#cfg-field-info

[2017-08-22 17:48] prabhushrikant commented on #948
Yes I have tried it and I always get null for Categories field in following schema{"userId": 402885,
{
            "userUuid": "F2896A1F1A7D411A69",
            "affiliations": [
                {
                    "org": {
                        "orgName": "Dick's Sporting Goods",
                        "categories": [
                            65,
                            68,

[2017-08-22 19:43] jbaiera opened #1040 "SparkSQL saves Timestamp/DateType's as Longs"
The `DataFrameValueWriter` contains the following:

[code]

While the TimestampType is documented as being persisted as a long, the DateType is documented as being serialized and persisted as a Date string.

[2017-08-22 20:58] freethejazz commented on #948
Aaah, @prabhushrikant I think your issue may be different. OP was specifically calling out the nested object data type that Elasticsearch supports (see his inline link). It may be worth opening a new issue with the data you posted above, the elasticsearch mappings, and the specific error you're getting (or just that it's always null if that's the only thing happening.

[2017-08-22 21:01] freethejazz commented on #948
@ndimiduk Have you tried using `es.read.as.array.include`? (https://github.com/elastic/elasticsearch-hadoop/issues/948#issuecomment-324066209)

[2017-08-24 02:55] ufo22940268 commented on #638
@gingi99
How i face the same problem. Could you tell me what's wrong with network settings.

[2017-08-24 09:51] ebuildy commented on #638
@ufo22940268 use forum to describe your settings / configuration, I'll be glad to help you.

[2017-08-25 08:47] yoann-bellet opened #1041 "es.nodes redirection with aliases"
### Issue description

Hello, we have some troubles with es.nodes configuration for interactions with Pig Hive or Spark

### Steps to reproduce

We have an nginx reverse proxy on a specific server with 2 aliases redirecting on 2 different clusters (workernodes) on port 9200.
It works pretty well for curl request or Kibana, but with interaction with es-hadoop, it always redirect on the default clus

[2017-08-25 09:27] Akshay3 opened #1042 "ElasticSearch -Spark Major Minor Version Issue :org/elasticsearch/spark/rdd/CompatUtils : Unsupported major.minor version 52.0"
Hi ,
I am working on scala spark project .I am using these dependency
build.sbt

libraryDependencies ++= Seq(
“org.apache.spark” % “spark-core_2.11” % “2.0.0”,
“org.apache.spark” % “spark-sql_2.11” % “2.0.0”,
“org.scala-lang” % “scala-reflect” % “2.12.1”,
“org.elasticsearch” % “elasticsearch-spark-20_2.11” % “5.0.0”

I am running this by shell script .
abc.sh

/home/centos/SPARK/spark-2.1.0-bin-ha

[2017-08-25 09:28] Akshay3 commented on #1042
17/08/25 13:50:18 ERROR executor.Executor: Exception in task 0.0 in stage 4.0 (TID 4)
java.lang.NoSuchMethodError: scala.reflect.api.JavaUniverse.runtimeMirror(Ljava/lang/ClassLoader;)Lscala/reflect/api/JavaMirrors$JavaMirror;
at org.elasticsearch.spark.serialization.ReflectionUtils$.org$elasticsearch$spark$serialization$ReflectionUtils$$checkCaseClass(ReflectionUtils.scala:42)
at org.elasticsearc

[2017-08-25 09:51] danielmitterdorfer commented on #1042
I do not know anything about Spark but I highly doubt that this is a problem in the Spark connector. Anyway, I'm leaving it up to the Elasticsearch-Hadoop team to decide whether this issue should be closed but I am almost certain this is an environment issue.

Let me restate what I said [in the original issue](https://github.com/elastic/elasticsearch/issues/26380):

You get:

[code]

This means th

[2017-08-25 09:53] #1041 closed

[2017-08-25 10:28] hyitclj opened #1043 "I can't use it"
the error:
17/08/25 18:18:08 WARN ScalaRowValueReader: Field 'lxdh' is backed by an array but the associated Spark Schema does not reflect this;
              (use es.read.field.as.array.include/exclude)
17/08/25 18:18:08 WARN ScalaRowValueReader: Field 'imei' is backed by an array but the associated Spark Schema does not reflect this;
              (use es.read.field.as.array.include/exclude)
17/

[2017-08-25 11:05] Akshay3 commented on #1042
Hi ,
I have checked my java version already .But I am getting the same error ..

[2017-08-25 15:19] jbaiera commented on #1042
This was a problem with the build in 5.0.0 as described in https://github.com/elastic/elasticsearch-hadoop/issues/892. It should be fixed in 5.0.1. You mentioned that you have already checked your java version, but all Spark services must be running java 8 for that version to work. If you upgrade to 5.0.1 the issue should resolve itself.

Closing this as it's already fixed.

[2017-08-25 15:19] #1042 closed

[2017-08-25 15:26] jbaiera commented on #1043
Please fill out the template provided for Github issues. Issues with the title "I can't use it" are not helpful to contributors on the project and your post lacks important information, like what versions of the connector and Spark that you are using. If you are unsure of what to put in the github issue then please post on the [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop) and the

[2017-08-25 15:26] #1043 closed

[2017-08-25 15:35] jbaiera commented on #1018
I'm going to close this as this issue has been inactive for a while. If anything comes up, please let us know and we can re-open the issue if need be.

[2017-08-25 15:35] #1018 closed

[2017-08-26 05:54] Akshay3 commented on #1042
Hi ... Still Not worked ...
------------------------------------------------------------------------------------
Updated build.sbt

libraryDependencies ++= Seq(
  "org.apache.spark" % "spark-core_2.11" % "2.0.0",
 "org.apache.spark" % "spark-sql_2.11" % "2.0.0",
"org.scala-lang" % "scala-reflect" % "2.12.1",
"org.elasticsearch" % "elasticsearch-spark-20_2.11" % "5.0.1"
)

-------------------------

[2017-08-26 06:10] salonegupta opened #1044 "scala.MatchError: 3099.0 (of class java.lang.Float)"
### What kind an issue is this?

- [x] Bug report.

### Issue description

While fetching any nested field from Spark ES connector, the field is being converted into an array which is leading to the above-mentioned error.

### Steps to reproduce

I am using Spark 2.11 with Java 8 and Elasticsearch 5.4. I have a nested document structure which is as follows:
[code]
I am trying to fetch `event`, `us

[2017-08-26 10:03] yoann-bellet commented on #1041
Hello and thanks to responding,
In fact i saw a configuration which do what I want : "es.nodes.resolve.hostname" when it set to false, nginx redirection works pretty well because alias is preserved :)

thx a lot

[2017-08-28 14:22] jbaiera commented on #1042
It looks like you're pulling scala reflect from Scala 2.12

[code]

All of your artifacts are compiled for 2.11. You may need to downgrade the reflect version.

[2017-08-30 21:56] gsaxam opened #1045 "Create a new timestamp on the fly to generate dynamic indices"
According to the ES docs, I can see that you can map a field in hive to add to the index prefix while generating multiple indexes.

[code]

My issue is that I do not have such date or timestamp field in hive and I need to generate one on the fly. I am looking at something like this (if possible?)...

`es.resource.write = my-collection/{now():YYYY.MM.dd}`

[2017-08-31 00:42] jbaiera commented on #1045
@gsaxam This a great question for our [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop). Github is normally reserved for tracking confirmed bug reports and discussed feature requests.

You could try generating a field in your hive data during your write operation using something like Hive's [current_timestamp](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF#Langua

[2017-08-31 00:43] #1045 closed

[2017-09-01 15:40] #993 closed

[2017-09-12 15:57] #974 closed

[2017-09-12 15:59] jbaiera commented on #1017
I'm going to go ahead and close this for now since the conversation has seemed to die down. If anything comes up we can easily re-open this and recommence the conversation.

[2017-09-12 15:59] #1017 closed

[2017-09-12 16:00] jbaiera commented on #922
Closing this as the conversation has trailed off. We can always re-open this if new information comes to light.

[2017-09-12 16:00] #922 closed

[2017-09-14 20:40] ProTip opened #1047 "Incorrect schema detected for nested geo_point"
I'm using the string ```"lat,lon"``` representation due to cast errors when a whole number gets store into a double field. The outer location is properly detected as string type, however the location of the nested user doc is detected as a struct with doubles.

[code]

[2017-09-15 20:52] prabhushrikant commented on #297
Another way is to use sbt assembly instead of sbt package to create your jar so that it includes all the required jars in the jar that is created.

[2017-09-21 16:14] jbaiera commented on #1047
@ProTip Could you please observe and follow the issue template provided during issue creation? It is unclear which version of Elasticsearch and ES-Hadoop you are running against. It is also unclear what your mappings are or even how to reproduce the error you are describing.

[2017-09-22 12:38] kokorin commented on #1047
Also I noticed, that on ES 5.5 GeoPoint is read by Spark in a wrong manner: while in ES geoip is stored as
[code]
In Spark it comes as array of strings:
[code]

This leads to an error, while trying to save such event back to ES. Currently we have to convert **location** back to array of numbers.

[2017-09-23 23:01] chaitujil opened #1051 "Json serialization error"
[code]

which gives me an RDD[String] and then I do

`    EsSpark.saveJsonToEs(esRDD, esIndexNType)`

I get this below Exception. Obviously there's something wrong with the data. But instead of finding and fixing the data issue is there a way to ignore this Exception and move on?

Strack trace:

[code]

### Version Info

scalaVersion := "2.11.8"

val sparkVersion = "2.2.0"

scalacOptions := Seq("-

[2017-09-25 21:13] chaitujil commented on #1051
I am trying by explicitly ignoring writing non UTF8 json strings to ES as a workaround. It would have been nice if there's a config which would let me skip entities which cause JsonParseExceptions.

[code]

[2017-09-27 20:36] jbaiera opened #1053 "Document best practices for stack upgrades that use ES-Hadoop"
We should add a page or section under the installation documentation that details where ES-Hadoop sits if you are updating Elasticsearch to a new version.

[2017-09-28 05:18] hindog commented on #685
FYI, I am running into this issue under some special circumstances and wonder if a compromise could be made, such as a sysprop that suppresses the check for advanced users.  I can submit a PR if you'll open to this approach, in which case I would need to know what sysprop to use to toggle this behavior on/off?

Right now I have to build a custom version of this library to disable that check to get

[2017-09-29 14:06] jbaiera opened #1055 "Using es.index.read.missing.as.empty returns an empty result if one out of many indices is missing"
If a user specifies multiple indices and one of them is not found - if the `es.index.read.missing.as.empty` property is set to true, then the entire connector returns an empty result. Instead, the connector should skip the missing index and continue on with processing the rest of the provided indices.

[2017-09-29 14:16] jbaiera commented on #1051
I think this aligns as a use case for #1038. I'm going to close this for now, but if you have any extra feedback, please feel free to document it on #1038.

[2017-09-29 14:16] #1051 closed

[2017-09-30 07:42] fengzibs commented on #1020
Hello,emmm... I have a question just like your post. I  use ES5.5.0 ,and I want to put  some data in  HDFS from ES , do I have to use elasticsearch-hadoop-5.5.0.jar? If I use elasticsearch-hadoop-5.5.0.jar ,all of my project would be fail,so I use elasticsearch-hadoop-5.0.0.jar , is that OK? (My English is very poor,Sorry,XD)

[2017-10-04 14:33] sarokrishnan opened #1056 "Spark uses one ES node at a time to write to elastic search"
I am having few clarifications with regarding Spark and ElasticSearch.

ES versions used for this approach is 5.4
Config Details:
8 ES nodes with 32 shards.
12 Spark Nodes with 4 threads each.
-- spark.executor.instances=12 -- spark.executor.cores=4 -- executor-memory 8g
Issue and Question:
Reading from ES and write to S3 object file
1) When reading data from ES and write to S3 as object files. it

[2017-10-05 17:14] jbaiera commented on #1056
@sarokrishnan Please try to keep these sorts of questions on the forums. Github is reserved for bug reports and feature planning.

[2017-10-05 17:14] #1056 closed

[2017-10-09 13:14] sixers opened #1057 "Missing data in Elastisearch when writing data with elasticsearch-spark connector"
### What kind an issue is this?

- [x] Bug report.

### Issue description

We have an issue with data consistency when storing data in Elasticsearch using Spark and elasticsearch-spark connector. Job finishes successfully, but when we compare the original data (stored in S3), with the data stored in ES, some documents are not present in Elasticsearch.

I'm looking for some guidance in order to deb

[2017-10-09 17:02] hupiv opened #1058 "scala.MatchError: Buffer(ACK)"
- [x] Bug report.

### Issue description

I'm trying to read from Elasticsearch 5.6.0 with  spark 2.1. I have the error message
"scala.MatchError: Buffer(ACK) (of class scala.collection.convert.Wrappers$JListWrapper)"

### Steps to reproduce

Code:

[code]

Print schema:
[code]
Strack trace:

[code]

[2017-10-09 18:35] jbaiera commented on #1058
@hupiv Please keep these sorts of questions on our [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop). Github is reserved for confirmed bugs and feature tracking.

In this case you are loading a field which contains multiple values in it, but Spark is treating the field as a singular value. You'll need to use `es.read.field.as.array.include` to demarcate which fields have multiple val

[2017-10-09 18:35] #1058 closed

[2017-10-09 18:39] jbaiera commented on #1057
@sixers Have you tried loading data using a pre-calculated ID for each record? In the event of a task failure, having an ID for each document can enhance your write consistency.

You mention that you are only seeing the inconsistency when a task is lost. Could you share the details for the errors your tasks are experiencing?

[2017-10-10 10:18] srinathji opened #1059 "Cannot Save Data Frame to Elasticsearch during spark streaming"
### What kind an issue is this?

- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [x] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2017-10-10 10:19] srinathji commented on #1059
Below is the error:
org.elasticsearch.hadoop.EsHadoopIllegalArgumentException: Cannot determine write shards for [custAct_index/custAct_index_type]; likely its format is incorrect (maybe it contains illegal characters?)

[2017-10-10 16:26] jbaiera commented on #1059
Can you please follow the template provided for reporting issues? Please provide the full stack trace. Please provide the versions of your OS, JVM, Hadoop/Spark, ES-Hadoop, and ES deployments. Please provide your settings and code that led to this issue.

[2017-10-13 14:27] pattanib opened #1060 "Hive insert overwrite command is not overwriting documents in elasticsearch."
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [x] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2017-10-13 16:28] jbaiera commented on #1060
Please ask these sorts of questions on the forums, as conversations that pertain to your issue [may have already occurred](https://discuss.elastic.co/t/es-hadoop-2-0-2-jars-and-insert-overwrite/24091/3). Github is reserved for feature requests and confirmed bug reports only.

As I linked above, Hive's overwrite statement is not something that we can intercept at this time in the connector, as it i

[2017-10-13 16:28] #1060 closed

[2017-10-13 16:30] jbaiera commented on #1059
@srinathji I still need a stack trace to make sense of where this error occurred.

[2017-10-17 00:32] saudurehman opened #1061 "Alias with xpack security - Action is unauthorized for user"
### Issue description
For event based data with daily indices, created an alias which point to a single logstash-2017-MM-dd index. Then using the x-pack security created a user who has only access to this one index. The Spark job fails if i use the alias.

While fixing this it would be great to test if alias with a date range filter works as well

### Steps to reproduce

Code:
[code]

Strack trace

[2017-10-17 07:19] samkenhuang commented on #943
I am facing the same problem now. Do you have some solutions?

[2017-10-17 09:38] avlahop opened #1062 "Spark connector injecting query in dataframe schema as new field."
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.

### Issue description
When trying to use the elasticsearch-hadoop spark connector, the performed query is injected in the dataframe schema as mapping field.

Description

### Steps to reproduce
S

[2017-10-17 11:47] jbaiera commented on #1062
@avlahop Can you increase the logging level to `TRACE` and post the logs here from the run?

[2017-10-17 12:55] avlahop commented on #1062
Hello @jbaiera

Attached you can find the logs from mesos  containing the sterr and stdout for the run.

[stderr2.txt](https://github.com/elastic/elasticsearch-hadoop/files/1391020/stderr2.txt)
[stdout2.txt](https://github.com/elastic/elasticsearch-hadoop/files/1391024/stdout2.txt)

[2017-10-18 07:05] avlahop commented on #1062
2 comments on my initial issue: I can see that the mapping of the index has changed and added the "query" field, that's why it is included in the `printSchema()` expression. But I found out that in another index (same setup) the following was added after I used spark connector:
[code]
This happened after I tried filtering with `"pushdown": true` on the loaded dataframe.
Unfortunatelly I am not abl

[2017-10-18 09:22] jbaiera opened #1064 "Introduce "Dead Letter Handlers" allowing interception of failures to handle/ignore them"
ES-Hadoop is a project that often embraces the fail-fast mantra, that exceptions and errors are often exceptional circumstances that need direct user interaction to fix and should not be ignored. This works great for batch jobs that are idempotent and easy to re-run, but the Hadoop ecosystem has since moved on to streaming applications being just as common as batch with patterns like lambda archit

[2017-10-18 09:31] jbaiera commented on #1062
@avlahop - The most probable reason for this occurring is that something is running a query against the index using the `PUT` action instead of `GET` or `POST`. You can disable the dynamic mapping feature in Elasticsearch using the _[dynamic](https://www.elastic.co/guide/en/elasticsearch/reference/current/dynamic.html)_ setting on your mapping.

This should highlight the location that is performin

[2017-10-18 09:51] avlahop commented on #1062
@jbaiera Thank you for takint time to answer my question.  Could you please elaborate more on what do you mean by something? Something else than spark? Only spark jobs were using the indexes. Also  please could you explain more about this:

This is on the bottom of this link [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/dynamic-mapping.html)

So I could have the same issue

[2017-10-18 12:28] dmarkhas commented on #1064
This is a good idea, but looking at all referenced pull requests they are all requesting a specific, rather simple, capability of ignoring specific HTTP response codes. Is it not possible to implement this feature first as a short-term solution until the proposed error handlers are implemented?

[2017-10-18 13:45] jbaiera commented on #1064
@dmarkhas Thanks for your input here. We're apprehensive toward introducing a short term solution that would need to be very quickly deprecated and replaced when this solution arrives.

While the above linked PR's are on their own centered around ignoring HTTP responses, there have been other discussions in the community around other problems like serialization issues killing streaming processes,

[2017-10-18 13:46] jbaiera commented on #999
Closing this in favor of #1064

[2017-10-18 13:46] #999 closed

[2017-10-18 13:48] jbaiera commented on #969
Closing this issue out as all sub-items have been closed out or merged.

[2017-10-18 13:48] #969 closed

[2017-10-18 13:51] jbaiera commented on #801
Closing this in favor of #932

[2017-10-18 13:51] #801 closed

[2017-10-18 13:55] jbaiera commented on #307
Closing this in favor of #1064. Please post any conversations or feedback on the new issue.

[2017-10-18 13:55] #307 closed

[2017-10-18 21:02] jbaiera commented on #1062
There is a call somewhere inserting those mappings. If those mappings don't exist on the index beforehand, then disabling dynamic mappings should either highlight where they are being inserted (as part of an indexing request) or confirm that it's going through the mapping API if there are no breaks in the job.

You can set the mapping one of two ways: 1) by setting the mapping explicitly using the

[2017-10-19 06:43] dmarkhas commented on #1064
@jbaiera That makes sense.
The proposed solution seems comprehensive enough to cover all of these cases.
Some questions:

1) Would it be possible to register more than one handler?
2) When would these handlers be invoked? Your description mentions "when potentially recoverable error states pertaining to data are encountered", but that seems to leave the definition of what is a recoverable state to

[2017-10-19 10:47] jbaiera commented on #1064
@dmarkhas To give some answers:

While the structure of this isn't too hard (just one handler that runs a chained set of handlers), the configuration for this could be fairly verbose/clunky. I think the simplest way to do this would be to set a single configuration property with a comma separated list of the handlers in the order that they should run.

We'll have to start off with defining the err

[2017-10-19 13:08] Fangrou commented on #1040
Hello @jbaiera ,
I also notice this problem when I read the doc and this error appear 2 times, in Table9 and Table10 (https://www.elastic.co/guide/en/elasticsearch/hadoop/master/spark.html#spark-sql-type-conversion)

And my question is why we convert `Timestamp/Date` to `long`? Should we keep the same behaviors in both [`JdkValueWriter`](https://github.com/elastic/elasticsearch-hadoop/blob/master/

[2017-10-22 08:45] moein7tl commented on #906
@mavencode01 I've the same issue on local mode.

[2017-10-22 13:29] filipegmiranda commented on #348
Hi @costin - I see this issue is still open, do you guys have any plans on when it would be coming, and which release?

Is this something I can contribute, in terms of opening a pull request with the implementation?

[2017-10-23 15:55] jbaiera commented on #906
@mavencode01 @moein7tl Please avoid posting on closed threads with different issues. Please check to make sure that Elasticsearch's http publish addresses are valid addresses that you can reach from your local environment AND from where your jobs are executing.

[2017-10-23 21:14] agalool opened #1065 "PySpark fails to read multiple nested levels of Elasticsearch index"
I'm trying to read document properties that are nested under 3 levels of entities and getting the familiar 'typically this occurs with arrays which are not mapped as single value' error.

The document I'm trying to read looks like this:

"_source": {
    "Actions": {
      "Agree": {
        "Total": 0,
        "Involved": false
      },
      "Disagree": {
        "Total": 0,
        "Involved":

[2017-10-26 21:17] saudurehman commented on #1061
Wanted to use alias for pointing to last two days. Using workaround for now. Instead of using alias in the x-pack role, using indices and then update role every day to give access to last two days

[2017-10-27 18:23] jbaiera commented on #1000
I'm closing this out as the requisite work has already occurred. ES-YARN is removed in 6.0 and testing on Hadoop versions before 2.2.0 has ceased in 6.0.

[2017-10-27 18:23] #1000 closed

[2017-10-30 02:41] hyitclj opened #1067 "how to update about JavaEsSpark.saveToEs"
My test ES data:
#! Deprecation: query malformed, empty clause found at [2:13]
{
  "took": 1,
  "timed_out": false,
  "_shards": {
    "total": 5,
    "successful": 5,
    "failed": 0
  },
  "hits": {
    "total": 1,
    "max_score": 1,
    "hits": [
      {
        "_index": "face_imsi_test",
        "_type": "face_imsi_test",
        "_id": "123",
        "_score": 1,
        "_source": {

[2017-10-30 02:48] hyitclj commented on #1067
My code ：
Map<String, String> vmId = new HashMap<>();
        vmId.put("es.mapping.id", "pid");
        JavaEsSpark.saveToEs(esRdd, "face_imsi_test/face_imsi_test",vmId);

[2017-10-30 15:19] ebuildy commented on #1067
Hello, I think you can use elastic forum or stackoverflow to ask help.

[2017-10-30 16:12] jbaiera commented on #1067
In this case, @ebuildy is correct. Please post questions on the [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop) as github is reserved for confirmed bug reports and feature tracking.

[2017-10-30 16:12] #1067 closed

[2017-10-30 16:38] seufagner commented on #316
Nowadays it just support scroll api using Spark ?

[2017-10-31 01:07] hyitclj opened #1068 "how to update about JavaEsSpark.saveToEs"
### What kind an issue is this?

JavaEsSpark.saveToEs is replace or not update
I wan't update data or not replace in one id

- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [x] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution alr

[2017-10-31 14:38] jbaiera commented on #1068
As we mentioned previously: "Please post questions on the [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop) as github is reserved for confirmed bug reports and feature tracking." If you feel like this ticket belongs on github, please comment here instead of opening new tickets, and we can see about re-opening.

[2017-10-31 14:38] #1068 closed

[2017-11-01 09:05] hyitclj commented on #1068
sorry, I feel like this ticket belongs on github, so , come in

[2017-11-02 03:01] kiddingbaby opened #1069 "[Bug report.]Array datatype throw datatype cast exception when query in hive(ES: 5.2.2, Hive: 1.2.1)"
### Issue description
My DDL, only one field with `array<double>`;
My ES-mapping, only one field with `geo_point`;
I have inserted some values like `array(0.000, 0.000)` into table, but when I used one simple query statement in hive, exception thown out.
( PS: data has been inserted into ES )

### Steps to reproduce
Code:
[code]

My Elasticsearch mapping is:
[code]

Exception:
[code]

### Version

[2017-11-06 06:40] realrnjs opened #1070 "version mismatch exception."
### What kind an issue is this?

- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2017-11-06 19:20] #1070 closed

[2017-11-06 19:23] jbaiera commented on #1070
Thanks for the report @realrnjs. This was a quick fix and a good one to find while 6.x is still in RC.

[2017-11-06 21:42] jbaiera commented on #1068
You've provided no extra information as to why this might be a bug. If you read the documentation on [ES updates](https://www.elastic.co/guide/en/elasticsearch/guide/current/partial-updates.html) and on how [ES-Hadoop does updates](https://www.elastic.co/guide/en/elasticsearch/hadoop/current/configuration.html#_operation) you will find that there is an update operation that can be configured that

[2017-11-06 21:59] jbaiera commented on #1057
Closing this as no further feedback provided. We can re-open if anything comes up.

[2017-11-06 21:59] #1057 closed

[2017-11-07 01:16] realrnjs commented on #1070
Thank you.

[2017-11-07 15:40] funseiki opened #1071 "Scala Query Returns 404|Not Found after Node is Discovered"
### What kind an issue is this?

- [x] Potential bug report

### Issue description

I'm attempting connecting to an Elastic cluster that sits behind a load balancer via Spark. In PySpark, the settings I'm using allow for the query to perform without issue. In Scala, I get the following error:

[code]
It appears as though the ES Hadoop connector is able to resolve one of the data nodes, but is not

[2017-11-07 15:48] jbaiera commented on #1071
This is perplexing. Could you enabled `TRACE` logging on the `org.elasticsearch.hadoop.rest.commonshttp` package and post the logs here? That should show the underlying HTTP wire contents.

[2017-11-07 16:12] funseiki commented on #1071
Sure - is that just passed into the SparkContext? (I.e. org.elasticsearch.hadoop.rest.commonshttp: "TRACE")

[2017-11-07 16:19] jbaiera commented on #1071
If you're using a regular Spark distribution, you'll need to configure log4j with that log level set for the logger that corresponds to that package name. There are quite a few ways to do this. The most common would be to modify the log4j.properties file in the conf directory of Spark.

[2017-11-07 17:57] funseiki commented on #1071
Okay, here's the output with that trace logging:
[code]

[2017-11-07 18:11] jbaiera commented on #1071
I think you blew away a few too many log lines there with your redactions as it is missing the mappings and transaction data leading up to the failed response.

That being said, I notice that you are not specifying a type name here in the job. I also see that the response is an HTML web page, which leads me to think that you're running your traffic through a proxy. It's possible that there is an i

[2017-11-07 19:00] funseiki commented on #1071
Ah, didn't realize the mappings were necessary - they contain some fields that are specific to a client. I can post the whole thing, if needed.

Yes the request is going through a load balancer - it is accessing the cluster via an https endpoint. I'm confused as to why this works on PySpark as opposed to Scala, though. Meaning, the proper nodes are resolved even when the https endpoint is used (as

[2017-11-07 19:03] jbaiera commented on #1071
The python integration flows through the mapreduce integration code using the input/output format classes. We don't really have first class support for python. That would be the main difference between python and scala. Obviously we want to make sure there's parity between the two though.

Could you provide the trace logs for the python run as well? There might be some change in the requests made

[2017-11-07 19:15] funseiki commented on #1071
Ah yep, removed one line too many.

[code]

[2017-11-07 19:41] funseiki commented on #1071
Here's the Python output - it's everything before the job actually starts:

[code]

[2017-11-07 19:53] jbaiera commented on #1071
One side item that jumped out at me:

You might want to take a look at using the elasticsearch-spark-13_{scalaversion}-5.4.2 jar instead of just the elasticsearch-hadoop artifact. The combined artifact packages spark 2.0 stuff by default and may cause compatibility issues for you down the line.

I didn't realize that this was Spark SQL, so the same code SHOULD be getting used between the two of th

[2017-11-07 20:06] funseiki commented on #1071
Ah yes - I forgot I was compiling the scala app with library directly using the elasticsearch-spark-13_2.10-5.4.2.jar and with Python I was injecting the "elasticsearch-hadoop.jar" with the --jars flag in spark-submit.

I'll retry and hopefully get the same errors. Thanks for the catch.

[2017-11-07 20:09] jbaiera commented on #1071
No worries! I don't think the versions will be the culprit here. The code that is breaking only ever runs when ES-Hadoop tries to determine the schema on its own when a user does not provide one. It looks like the actual request format was fixed in master with 28e9436239c8413b1c9bde11f296210370381453. This never made it back to 5.x since it was considered a breaking change to _require_ the type du

[2017-11-07 20:25] funseiki commented on #1071
Hmm - I don't think I am, but the Python job requires an extra "map" stage due to the lack of `saveToEs` API. Here's the difference.

Scala:
[code]

Python:
[code]

[2017-11-08 09:11] starbow727 opened #1072 "Could not initialize class org.elasticsearch.hadoop.util.Version"
hi,
The elasticserch-hadoop version I use is 2.4.4
My jar package is elasticsearch-hadoop-2.4.4.jar
When I use hive es data query error message is as follows

Bad status for request TFetchResultsReq (fetchType = 0, operationHandle = TOperationHandle (hasResultSet = True, modifiedRowCount = None, operationType = 0, operationId = THandleIdentifier (secret = 'U \ x8d \ x01 _, \ xe6 @ \ xcc \ xb0K) HT

[2017-11-08 11:26] starbow727 opened #1073 "Caused by: java.lang.IndexOutOfBoundsException: Index: 102, Size: 102"
hi
My hive wide table has 102 fields, data written elasticsercher MR error
Caused by: java.lang.IndexOutOfBoundsException: Index: 102, Size: 102
Is the field too much?

[2017-11-08 18:54] jbaiera commented on #1071
@funseiki I'm unsure what might be causing the python integration to not execute the schema discovery. Most likely there's a default setting provided within the python integration for Spark that I haven't found yet. We don't currently test on any of the python integration releases, which makes it difficult to narrow down.

That said, have you tried executing the failing request through your proxy

[2017-11-08 19:11] jbaiera commented on #1073
@starbow727 Can you include the full stack trace and as much of a reproduction (or explanation of a reproduction) as possible? Could you also include the versions of your dependencies here?

[2017-11-08 19:42] jbaiera commented on #1072
@starbow727 If you extract the class files, can you see if the Version class is present in the artifacts you are using? Do you see ExceptionInInitializerError anywhere in your logs that might indicate that the Version class is breaking on initialization?

[2017-11-09 05:36] #1072 closed

[2017-11-09 05:36] #1073 closed

[2017-11-09 14:32] ebuildy commented on #689
At least, an error could be thrown to indicate this is not supported.

[2017-11-09 18:54] EdyKnopfler opened #1074 "Incompatible types found in multi-mapping"
### What kind an issue is this?

- [ ] Bug report.
- [x] Feature Request.

### Feature description
Once upon a time I needed to change the mapping of some fields. Luckily, I use to put a date suffix in index names: myindex-yyyy.mm.dd, so I could to change the mapping from one day to another.
I didn't yet have any problems on querying directly on Elasticsearch. But, using elasticsearch-spark, I got

[2017-11-09 19:26] jbaiera commented on #1074
This is a jam that's come about with recently fixing how we merge mappings. Previously, when running against multiple indices, only ONE mapping would be selected from the available mappings, at random no less, and would be applied to the data. Fields not in that mapping would be dropped, and data that did not match it would throw exceptions.

That said, we now collect all mappings and attempt to r

[2017-11-11 07:28] dmarkhas commented on #966
Will the 6.x branch support ElasticSearch 5.x, or will it only be compatible with ElasticSearch 6.x?

[2017-11-12 06:18] acchen97 commented on #966
@dmarkhas ES-Hadoop 6.0 will be compatible with Elasticsearch 5.6. We support the last minor of the previous major version of Elasticsearch.

[2017-11-14 17:11] DrSpez commented on #729
@rjof did you fix it? I get the same error in 5.4.3

[2017-11-15 14:51] jbaiera commented on #966
6.0 has set sail. Closing.

[2017-11-15 14:51] #966 closed

[2017-11-15 17:41] afpardillo commented on #276
+1

[2017-11-16 14:27] hhch opened #1075 "elasticsearch spark java.lang.OutOfMemoryError: Java heap space"
hi

es-hadoop uses only scan-scroll, as so does the Spark support. There's no option to enable/disable it - it always relies on it.
--
why I just use JavaEsSpark.esRDD(sc, index/type).count() then throw oom.
there are 4 hundred million doc in es
and master is local, my pc

### What kind an issue is this?

- [ ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce i

[2017-11-17 22:11] jbaiera commented on #1075
Github is reserved for feature requests and confirmed bug reports only. Please post questions like these on the [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop) in the future.

[2017-11-17 22:11] #1075 closed

[2017-11-20 09:18] Mvpanswer7 opened #1076 "Does array search support push down?"
I'm trying to query an array in ElasticSearch

`data: "names":[{"name":"allen"},{"name":"bill"},{"name":"dave"},{"name":"poter"}]`
`goal: "select names from table where array_contains(names.name, "bill")"`
but spark won't do predicate pushdown if SQL statement use array_contains function.
`hint: names.name = ["allen","bill","dave","poter"]`
I've tried

`select * from table where array_contains(nam

[2017-11-21 00:19] rroopreddy commented on #276
+1

[2017-11-24 11:11] DaveCTurner opened #1077 "Cannot find 7.0.0-alpha1-SNAPSHOT/maven-metadata.xml and friends"
The periodic master builds of are now failing because they're trying to download a `7.0.0-alpha1-SNAPSHOT` version from Maven which does not exist for obvious reasons.

e.g. https://elasticsearch-ci.elastic.co/view/Elasticsearch/job/elastic+elasticsearch-hadoop+master+periodic/425/console

It's possible (likely) this is due to https://github.com/elastic/elasticsearch/pull/27397 which changes the w

[2017-11-29 09:57] cclient commented on #553
+1
v: 6.0

now support

{
    "doc" : {
        "name" : "new_name"
    },
    "doc_as_upsert" : true
}
and

{
    "script" : {
        "inline": "ctx._source.counter += params.count",
        "lang": "painless",
        "params" : {
            "count" : 4
        }
    },
    "upsert" : {
        "counter" : 1
    }
}

don't support while doc_as_upsert=false

like

{
"doc": {
    "lastupdatetime

[2017-11-30 17:38] jbaiera commented on #1077
Thanks @DaveCTurner. This should be fixed in https://github.com/elastic/elasticsearch-hadoop/commit/993e691c56174795eaad99977b69364398e9da70.

7.0.0-alpha1-SNAPSHOT should be getting published nightly, and is a valid version number in [the list of snapshots on maven](https://oss.sonatype.org/content/repositories/snapshots/org/elasticsearch/elasticsearch/maven-metadata.xml), but our repository info

[2017-11-30 17:38] #1077 closed

[2017-11-30 22:01] jbaiera opened #1078 "Conform to new underscore rules in ES 7"
Bulk options like `"_routing"` have changed recently in master to no longer allow underscore characters. We must detect the Elasticsearch version and change these headers when running on ES 7+.

See https://github.com/elastic/elasticsearch/pull/27414

[2017-12-01 09:35] Mvpanswer7 opened #1079 "Spark application completes with SUCCESS status when an exception is thrown"
I am running a spark application on yarn, which my goal is do some ETL from jdbc to elasticsearch.
However, when I check the log ,there is some errors like :

`17/12/01 00:35:19 WARN scheduler.TaskSetManager: Lost task 1317.0 in stage 0.0 (TID 1381, worker50.hadoop, executor 1): org.apache.spark.util.TaskCompletionListenerException: Connection error (check network and/or proxy settings)- all nodes

[2017-12-01 19:43] jbaiera commented on #1079
Github is reserved for feature requests and confirmed bug reports only. Please post questions like these on the [forums](https://discuss.elastic.co/c/elasticsearch-and-hadoop) in the future.

Most likely the task was rescheduled and succeeded on a different executor. If the task did not succeed elsewhere, you may be experiencing a Spark issue. Regarding the error logged here, make sure that all Sp

[2017-12-01 19:43] #1079 closed

[2017-12-01 19:47] #1053 closed

[2017-12-01 20:07] jbaiera commented on #1059
Closing this as the conversation has trailed off. If further information becomes available, we can see about re-opening this.

[2017-12-01 20:07] #1059 closed

[2017-12-01 20:08] jbaiera commented on #1062
Closing this for now as there has not been any new information on this in the past month. If more information comes up we can look into re-opening the issue.

[2017-12-01 20:08] #1062 closed

[2017-12-01 20:10] jbaiera commented on #1071
Closing this for now since the conversation has trailed off. I suspect this issue is fixed in the 6.X line. If more information comes to light we can pick this back up and re-open.

[2017-12-01 20:10] #1071 closed

[2017-12-01 21:57] jbaiera commented on #856
This should now be fixed with cd26933baff515b9ed7f01385655e7863fcb91bd

[2017-12-01 21:57] #856 closed

[2017-12-04 17:23] jbaiera commented on #1078
fixed in 1797499929c86c5b42aca8f3aa439c9a5ebf0584

[2017-12-04 17:23] #1078 closed

[2017-12-05 04:32] cclient commented on #553
a method do
{ "upsert": {}, "doc": {...} }

only minor modifications can do by self

https://github.com/elastic/elasticsearch-hadoop/pull/1080/commits/27071fe4b842011a06126c15b8c0e22f75cdc42f

use demo

https://github.com/cclient/elasticsearch-spark-upsert-from-kafka

[2017-12-05 20:43] dmarkhas commented on #1074
@jbaiera I think it would be better to follow Kibana's behavior - fields with conflicting mapping should be ignored (with a logged warning).

[2017-12-06 07:03] Mvpanswer7 opened #1081 "Didn't catch EsHadoopIllegalArgumentException"
WHEN EsHadoopIllegalArgumentException happened,code didn't catch it. And then an error in err log,but yarn returns succeeded.
`
17/12/06 18:14:59 INFO state.StateStoreCoordinatorRef: Registered StateStoreCoordinator endpoint
17/12/06 18:15:01 INFO util.Version: Elasticsearch Hadoop v6.0.0 [8b59a8f82d]
17/12/06 18:15:02 INFO httpclient.HttpMethodDirector: I/O exception (java.net.ConnectException) c

[2017-12-06 17:43] jbaiera commented on #1076
Unfortunately, the `array_contains` function is not included in the list of expressions that are translated and sent by Spark to the connector for pushdown. This would be a very easy filter to pushdown in the connector, but sadly we are not given a choice to do so. [This link](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceS

[2017-12-06 17:56] jbaiera commented on #1069
This looks related to #1047 as the Geo Points are read back in as strings instead of double values.

[2017-12-07 02:23] Mvpanswer7 commented on #1076
Thanks, is there a better way to query arrays in es?

[2017-12-07 11:44] jbaiera commented on #1076
When in doubt, you can always specify an elasticsearch query to your job by using the `es.query` property. I'll go ahead and close out this issue.

[2017-12-07 23:13] matthenricks commented on #394
HI jbaiera, is there a recommended way to circumvent this issue? Matt Henricks

[2017-12-08 03:26] Andygogo15 opened #1082 "DefaultSource wrongly parses 'es.resource' (spark2.2)"
### Version Info
Spark:  2.2.0
ES-Hadoop   :  5.6.0
ES          :  5.6.0

### Problem:
I am using sparksql to access data in elasticsearch. I use the following statement to register an index as hive table:
[code]
However, when I run query statement on table student, I always get  EsHadoopIllegalArgumentException:
[code]
Since es-hadoop works well with spark1.6 on my machine, I think there must be

[2017-12-08 06:01] Mvpanswer7 commented on #1076
why es.query will ignore params like "size" and "from"?

[2017-12-11 11:35] rbuchmann opened #1083 "Drop/replace insecure dependencies"
### What kind an issue is this?

Security issue in the way dependencies are handled

### Issue description

The build.gradle file includes a LOT of repositories over http, which potentially exposes every user of the library to trivially executed MITM attacks.

### Steps to reproduce

Found by using elasticsearch-hadoop with a newer version of leiningen, where the code to reproduce is simply

[code

[2017-12-12 17:55] AbelChan1989 opened #1084 "getting a wrong result when run a hive-sql that contains union-all opeartor."
### Issue description
I got a wrong result when run a hive-sql basic elastic-hadoop that contains union-all opeartor.

### Steps to reproduce

Firstly, I create two table called es_test and es_test_1.

<img width="814" alt="qq20171213-004234 2x" src="https://user-images.githubusercontent.com/14013834/33899817-9c381438-dfa7-11e7-9307-ab198c2d16e3.png">
<img width="857" alt="qq20171213-004245 2x" sr

[2017-12-13 04:06] jbaiera commented on #1076
`es.query` is strictly for specifying the matching criteria for documents. `size` and `from` are ignored during the parsing. They also don't make much sense to use since ES-Hadoop uses the scroll API for all read operations.

[2017-12-13 17:42] jbaiera commented on #1084
Thanks for the easy to reproduce error. I'll follow up on your open PR (#1085).

[2017-12-13 17:48] jbaiera commented on #1082
@Andygogo15 thanks for opening an issue about this. We do not currently test the Spark integration through the Hive bindings. Could you elaborate on your statement above:

Map(
path->hdfs://HACluster/home/work/hive/warehouse/gz_test.db/student,
nodes->10.xxx.xxx.xx:9200
resource->student/info
serialization.format->1
)
spark2.2
Map(
nodes->10.xxx.xxx.xx:9200
resource->student/info
serialization.for

[2017-12-13 17:53] jbaiera commented on #1074
@dmarkhas I feel like ignoring the field would be a good default response. I'd still like to enable users a bit more than that though. Perhaps it might make sense to allow users to list fields that they expect to have conflicts and denote how to resolve the conflict.

[2017-12-14 19:26] jbaiera commented on #394
@matthenricks sadly there is no work around right now. The logic that performs serializing records from different integrations into JSON is different between rendering script parameters and rendering  the final JSON document. We'll update here as new updates become available.

[2017-12-20 07:03] swatisaini commented on #283
Hi @costin  ,

I'm getting the similar issue. There is mismatch found in document count while reading data from elasticsearch index using  pyspark code.
Actual document count in elasticsearch is 991121(1.08 GB)  but when we read data into spark, at every attempt it keep changing.
Number of shards - 5
replica - 0
following is the observations
1 st try 991121
2nd try 991147
 3rd try 991095
Architect

[2017-12-20 11:22] swatisaini opened #1086 "Document Count in ES Different from Number of Entries Pushed"
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2017-12-20 11:25] swatisaini commented on #1086
There is mismatch found in document count while reading data from elasticsearch index using  pyspark code.
Actual document count in elasticsearch is 991121(1.08 GB)  but when we read data into spark, at every attempt it keep changing.
Number of shards - 5
replica - 0
following is the observation

1 st try 991121
2nd try 991147
3rd try 991095
Architecture version info
 spark version is 2.0.2
scala

[2017-12-21 10:41] CQUTWangHong commented on #856
@jbaiera ,I also met this problem,how to solve this problem now , thanks

[2017-12-22 10:32] Andygogo15 commented on #1082
@jbaiera I am sorry I didn't make it clear. The configurations in the map is what spark passed to ES-Hadoop when create relation (which finally accepted by method `params`). Because the elements of the map come in different order in spark2.2, ES-Hadoop wrongly parses `hdfs://HACluster/home/work/hive/warehouse/gz_test.db/student` as `es-resource`.  I have fixed this in my work and now it works well

[2017-12-22 20:35] elbamos commented on #1058
I'm seeing this too.  In what sense is it not a bug?  The elasticsearch connector isn't properly inferring the schema.

[2017-12-22 20:41] elbamos commented on #1058
In addition, there's no indication from the error of what field is causing the issue.  And if this needs to be set in the configuration loaded on startup, it impedes use of elastic search when using spark with a REPL.

[2017-12-24 10:07] avichaym commented on #276
+1

[2017-12-26 04:53] jbaiera commented on #856
@CQUTWangHong Please upgrade to any of the versions tagged on this issue

[2017-12-26 05:03] CQUTWangHong commented on #856
@jbaiera
I had upgrade to v6.1.0,but it doesn't work

my dependency:
[code]
read data:
val options = Map(
            "es.nodes" -> es_nodes,
            "es.port" -> es_port,
            "es.read.field.include" -> "string_field",
            "es.read.field.as.array.include" -> "array_field"")
    val df = spark.sqlContext.read.format("org.elasticsearch.spark.sql")
                         .option

[2017-12-26 05:05] jbaiera commented on #1058
@elbamos

Any field in Elasticsearch can be a bag of values. There's really nothing to go on in terms of what is returned from Elasticsearch's mapping end point that would indicate that a field holds multiple values. We need assistance from the user to determine the fields that are lists of values.

This is partly a limitation with how Spark is laid out. As you'll see, none of ES-Hadoop/Spark's pa

[2017-12-26 05:07] jbaiera commented on #856
@CQUTWangHong Can you provide an example record that is not working with the following code?

[2017-12-26 05:30] CQUTWangHong commented on #856
When I print dataframe's schema
`df.printSchema()`
It only show
[code]
No display array_field
that means "es.read.field.as.array.include" -> "array_field" doesn't work

[2017-12-27 02:12] makeyang opened #1087 "[feature request]add fetch stored_fields in es-hadoop"
### Feature description
currently "es.internal.mr.target.fields" actually means Source filtering, but no way to fetch stored_fields.

[2018-01-02 03:17] GourdErwa opened #1088 "Fix the document error time to format the sample format"
[https://www.elastic.co/guide/en/elasticsearch/hadoop/current/configuration.html](url)
here

use:YYYY.MM.dd
org.elasticsearch.hadoop.serialization.field.DateIndexFormatter(2017.12.31->2018.12.31)

        esHadoop.configure("YYYY.MM.dd");
        final String format = esHadoop.format("2017-12-31");
        System.out.println(format);//2018.12.31

must use JDK:yyyy.MM.dd to get it right(2017.12.31-

[2018-01-03 16:08] r0achster commented on #910
Will this work when a node is set to "roles":["data","ingest"]?

Having issues setting this up on AWS

[code]

[code]

I'm getting the same error:

[code]

[code]

[2018-01-04 03:27] r0achster commented on #910
Found my issue for AWS implementation wan only needs to be set to true

` "es.nodes.wan.only": "true"`

[2018-01-08 08:00] nilsga opened #1091 "Docs for index pattern formatting should be updated to use the new `|` separator character"
According to the documentation in https://github.com/elastic/elasticsearch-hadoop/blob/master/docs/src/reference/asciidoc/core/configuration.adoc, one can use a pattern like `my-collection/{@timestamp:YYYY.MM.dd}` to format an index name based on the date format of a field. However, this seems to have been replaced by the syntax `my-collection/{@timestamp|YYYY.MM.dd}` instead, which is also mentio

[2018-01-09 08:51] adriancole opened #1092 "Invalid port error when using IPv6 endpoint"
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2018-01-09 08:56] pznamensky commented on #1092
OS:
[code]
JVM:
[code]
ES: 2.4.5

[2018-01-09 08:58] adriancole commented on #1092
Wild guess is putting ipv6 into this CommonsHttpTransport unit test might reproduce the issue

[2018-01-09 16:19] jbaiera commented on #1086
It looks like the counts vary by 26 in either direction. That stands out to me a little bit. Are you able to identify the 26 records that are appearing/disappearing between runs?

[2018-01-09 17:56] jbaiera commented on #1087
Thanks for opening this issue. As a quick disclaimer: It should be noted that it's ill advised to use any of the "internal" settings as they are meant for use by the connector code only and can change meaning or disappear without warning.

[2018-01-09 18:01] jbaiera commented on #1088
Nice catch, I was not aware of the difference between `year` and `week year`. Learn something new every day. I'll update the docs soon.

[2018-01-09 18:01] jbaiera commented on #1091
Nice catch. It seems some instances of this eluded our gaze. We'll update the docs soon.

[2018-01-09 18:54] jbaiera commented on #1091
fixed in 9a638c7d8b0329dca354c62f9690de9c4a7404c1

[2018-01-09 18:54] #1091 closed

[2018-01-09 18:55] jbaiera commented on #1088
fixed in eaab5e83aaedc01d17549280ca93cb8a1b5fcfc2

[2018-01-09 18:55] #1088 closed

[2018-01-09 20:38] Protocol-X opened #1093 "" java.lang.NoSuchMethodError: org.elasticsearch.spark.sql.package$.sparkDataFrameFunctions"
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.

### Issue description

Description
NoSuchMethodError when calling DataFrame.saveToEs("String")

### Steps to reproduce

Code:

[code]

Strack trace:

[code]

### Version Info

OS:         :  Wind

[2018-01-10 01:44] Protocol-X commented on #1093
All libraries are using Scala 2.11 compiles

[2018-01-10 14:04] mchelyada commented on #1064
Guys,

This issue is referenced for ES-Hadoop 6.1 which is already available. But at the same time the status is still "open".
So I am just wondering when such functionality will be available? And/or if it is already available could somebody point me to the documentation on how to use it?

Thanks,
Myron

[2018-01-10 16:50] jbaiera commented on #1064
@mchelyada This is mis labelled. It will be coming out in a future release.

[2018-01-10 16:51] jbaiera commented on #1023
Closing this as the 6.1 release is completed.

[2018-01-10 16:51] #1023 closed

[2018-01-11 06:04] sujun891020 commented on #276
+1

[2018-01-11 07:38] swatisaini commented on #1086
Hi James,

This is just one scenario we have tested with different data sets also, the
count can vary one to thousands in another datasets.
I found this issue, it's because of number of partitions when i read it
with minimal number of partitions  then the count is consistent.  But I
didn't get why it's happening.

Thanks and regards,

Swati Saini
Bachelor of Technology
IIT Kharagpur, 2016
+91 7076

[2018-01-11 13:22] jimczi commented on #1086
We fixed a bug in es 5.3.1 that could explain the discrepancies that you're seeing. How many elasticsearch nodes do you have in your cluster ? Can you try to upgrade the elasticsearch cluster to 5.6 and see if the issue reproduces ?

[2018-01-12 10:27] swatisaini commented on #402
Hi Costin,
Is this issue fixed in spark 2.0.2 as well ?

[2018-01-12 10:41] swatisaini commented on #1086
Hi Jimczi,
Thanks for the solution we have 3 nodes in a cluster.  Will try to upgrade the elasticsearch and see if the problem is solved.

[2018-01-12 22:28] cerebrotecnologico commented on #1064
While there are many ways to address this problem (@jbaiera mentions actually two problems: serialization to JSON and rejected operations), I am currently trying to make the connector behave like a Spark RDD/DStream filter. The records rejected by ES would be returned by the filter. Since the result would be an RDD/DStream, then the Spark application can handle those as any other RDD/DStream. (pri

[2018-01-15 08:24] cscetbon commented on #348
Hey @jbaiera, can you answers the questions asked ?

[2018-01-15 18:08] jbaiera commented on #348
The delete operation is not supported in 5.0, nor is it on our near term roadmap for development. That said, we're always happy to accept pull requests if anyone would like to tackle it, as I don't really see any issues against supporting something like it.

[2018-01-17 19:45] StephenOTT commented on #1074
@jbaiera  Field type promotion hierarchy would be great!

Would be great to see this at the logstash level as well.

[2018-01-18 13:58] jbaiera commented on #1064
@cerebrotecnologico good luck in that endeavor. If you get it working, feel free to let us know! PR's are always welcome.

For everyone else, I have opened a PR (#1095) for the work I have done to support this feature for bulk writes. We will circle back to serialization error handlers in a later contribution. I want to try and tackle the problem with the most impact first.

[2018-01-18 17:51] #1083 closed

[2018-01-18 17:53] jbaiera commented on #1083
A note here: Most of cascading's site does not work with HTTPS. This means that the conjars repo must remain http for the time being. There's not much we can do about this unless they support security on their end as well.

[2018-01-19 01:53] liansghuaifan opened #1096 "ES-Hadoop provides native (Java and Scala) integration with Spark: delete from es？"
i use ES-Hadoop integration with Spark ,i can read from es and write to es,but how do I delete from es? Can you help me

[2018-01-19 03:28] jbaiera commented on #1096
Please ask these sorts of questions on the [forum](https://discuss.elastic.co/c/elasticsearch-and-hadoop). Github is reserved for feature requests and confirmed bug reports only.

[2018-01-19 03:28] #1096 closed

[2018-01-21 13:28] eubnara opened #1097 "Duplicated jars in classpath when submitting a spark job with Elasticsearch to YARN"
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting ou

[2018-01-22 02:04] yaoboxu commented on #951
I also meet this errors,how to solve it ??

[2018-01-24 16:59] jbaiera commented on #1064
With the addition of the experimental failure handler API for bulk write failures this is marked as completed. More failure handlers will be coming out as we clean up, simplify, and solidify the API's.

[2018-01-24 16:59] #1064 closed

[2018-01-24 17:00] jbaiera commented on #1081
Closing this as there's nothing to take action on.

[2018-01-24 17:00] #1081 closed

[2018-01-24 17:00] jbaiera commented on #1076
Closing this as there's nothing actionable for project work here.

[2018-01-24 17:00] #1076 closed

[2018-01-24 17:01] jbaiera commented on #697
Closing this as it's a fairly old issue and most likely solved with the mapping parsing changes.

[2018-01-24 17:01] #697 closed

[2018-01-24 20:07] jbaiera commented on #1047
@kokorin Could you open a new issue for those type castings? I've left this issue open based on your comment, but I'm going to go ahead and close this as the initial post is vague and there has been no response from the original author.

[2018-01-24 20:07] #1047 closed

[2018-01-24 21:34] kant111 commented on #424
Is there any easy way to do this now using Spark 2.2.0 and ES 6.1.2? Can the ElasticSearch-hadoop connector create a mapping given a Streaming `DataSet<Row>` ?

For example I have the following code but it doesn't create index or type or its mapping before writing docs to ES.

[code]

[2018-01-25 00:55] oldcodeoberyn opened #1100 "In Elasticsearch 6.x version, multitype is not supported, please update docs according to this change"
### Issue description

in this guide:
https://www.elastic.co/guide/en/elasticsearch/hadoop/current/spark.html

it recommend user to use es 6.x version which not support multi type, but still guide user to set multi-type in one index

### Steps to reproduce
just follow the guide and run the example code

Code:

[code]

Strack trace:

[code]

[2018-01-25 04:37] omidb opened #1101 "Conf for index.mapping.total_fields.limit does not set correctly"
### What kind an issue is this?

- [x] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.

### Issue description

I am trying to save Spark dataframe to es and I get error message despite setting the parameters. I am setting `es.index.mapping.total_fields.limit` to 2000 but it seems no

[2018-01-27 11:55] dmarkhas commented on #1018
So, the problem is actually not with the connector itself (although it can provide a workaround) but in the core spark libraries.
Since IOUtils.open() does:
new URL(resource).openStream()

It relies on the URL stream handler factory, which is being set by Spark to org.apache.hadoop.fs.FsUrlStreamHandlerFactory inside SharedState.scala

It is possible that the behavior of the hadoop RawLocalFileSys

[2018-01-29 04:23] jbaiera commented on #1101
This isn't currently a supported property of the hadoop connector, but rather a property from Elasticsearch itself. If you are seeing errors that deal with this sort of message, it might be worth examining the data that is being rejected from Elasticsearch: Try running the job again but with the `org.elasticsearch.hadoop.rest.commonshttp` package set to `TRACE` level logging to view the data that

[2018-01-29 04:25] jbaiera commented on #1092
Thanks for reporting this. I'll see about getting a reproduction.

[2018-01-29 04:32] jbaiera commented on #1093
ES-Hadoop 2.x does not support Spark 2.0 and up. To support Spark 2.2.1 you should upgrade to ES-Hadoop 5.6.6 (The latest version in the 5.x branch).

[2018-01-29 04:32] #1093 closed

[2018-01-29 07:58] frederic-boissiere opened #1102 "Using alias from spark SQL"
Hello, I'm using spark SQL in order to extract data from elastic into csv files.

used software versions :
- elastic 5.5.2
- spark SQL 2.1.1
- elasticsearch-spark-20_2.11 5.5.2
- scala 2.11.8

I query elastic using alias.
When the alias is updated (remove and add new indices) during spark job processing, this last one fails.

Does it possible to preserve the same index from the beginning to end of

[2018-01-29 12:09] Junaidsakib commented on #619
Two cents: https://www.elastic.co/guide/en/elasticsearch/hadoop/master/spark.html#spark-streaming

[2018-01-29 14:52] jbaiera commented on #619
This is already resolved in 5.0 with our native spark streaming support

[2018-01-29 16:04] jbaiera commented on #1102
Since we pull aliases apart into their underlying index/shard information to determine splits, this should be something that we consider a bug until further information is collected.

[2018-01-29 18:30] gsaxam opened #1103 "upgraded to version 6.1.2 from 5.5 and throws NullPointerException"
[code]

[2018-01-31 17:55] omidb commented on #1101
I'm not sure if I did the setting right for logging, this is what I did and this is what I get:

[code]

[code]

[2018-01-31 18:39] jbaiera commented on #1101
Looks like you're missing a write resource?

[2018-01-31 19:13] omidb commented on #1101
@jbaiera I'm sorry, that log is not the right one, can you please tell me how to set
 `org.elasticsearch.hadoop.rest.commonshttp` package to `TRACE`? then Ireplace the log with the correct one.
I'm doing this:
[code]

[2018-01-31 19:36] omidb commented on #1101
Also if it helps, here is the Schema from the dataframe:

[code]

[2018-01-31 21:26] jbaiera commented on #1101
org.elasticsearch.hadoop.rest.commonshttp package to TRACE? then Ireplace the log with the correct one.

Generally the easiest place to set this is in the `log4j.properties` file that is in Spark's configuration directory.

[2018-02-01 00:39] jbaiera commented on #1103
Please follow the template when filing an issue. It requests important information like which version of ES, ES-Hadoop, Hive are you using, and the code/configuration you are using. Could you include this information?

[2018-02-04 03:08] eubnara commented on #1097
I'm trying another method, not using inode, but using ```getCanonicalPath()``` api.

[2018-02-05 17:42] #1100 closed

[2018-02-05 17:44] jbaiera commented on #1038
Duplicate of #1064

[2018-02-05 17:44] #1038 closed

[2018-02-05 17:47] jbaiera commented on #13
Duplicate of #4

[2018-02-05 17:47] #13 closed

[2018-02-05 17:50] jbaiera commented on #160
Visit from the Backlog Fairy: With the introduction of bulk write failure handlers in 6.2.0 we are very much looking to target adding serialization failure handlers for both reading data and writing data.

[2018-02-05 18:00] jbaiera commented on #341
Closing this as the shuffling key (and consequently, the parallelism) is entirely up to the user or framework to control.

[2018-02-05 18:00] #341 closed, assigned to nobody

[2018-02-05 18:03] jbaiera commented on #352
With the HDFS Repository moved to the main Elasticsearch project, and it's new official support for Kerberos deployments, I don't see the need for further documentation on this topic here. As for the main ES-Hadoop library, I also don't see much room for further documentation in a secured hadoop environment, as it feels out of scope.

[2018-02-05 18:03] #352 closed

[2018-02-05 18:08] jbaiera commented on #483
Duplicate of #276

[2018-02-05 18:08] #483 closed

[2018-02-05 18:11] jbaiera commented on #587
Closing this out as there doesn't seem to be anything actionable.

[2018-02-05 18:11] #587 closed

[2018-02-05 18:18] jbaiera commented on #803
Closing this as it's a duplicate

[2018-02-05 18:18] #803 closed

[2018-02-05 18:21] jbaiera commented on #924
This was fixed with #930 and included in 5.4.1 and 6.0.0. Closing this issue as it was left open.

[2018-02-05 18:21] #924 closed

[2018-02-07 03:38] jbaiera opened #1105 "Support IPv6 Appropriately"
Relates #1092.

Elasticsearch addresses are not parsed or handled correctly when they are IPv6. There is a lot of internal code that slices host information up by the colon (`:`) character to attempt to pull the port information off of the address string. All host names are encoded currently to ensure compatibility, and IPv6 HTTP addresses are encoded incorrectly with our encoding tools, causing t

[2018-02-07 10:21] adriancole commented on #1092
thanks for looking at this!

[2018-02-07 13:01] Uditmittal commented on #664
Hi i am facing same issue,
could you please help me out.

Elastic Config is here
 <groupId>org.elasticsearch</groupId>
    <artifactId>elasticsearch-spark-20_2.11</artifactId>
    <version>6.1.3</version>

val elasticIndex = "atom-prod-file-lineage/json"
val url = "http://xx.xx.xx.xx:port"
val reader = spark.read.
     format("org.elasticsearch.spark.sql").
     option("es.net.http.auth.user","use

[2018-02-07 20:34] jbaiera commented on #1102
I'm trying to reproduce this behavior but the steps you've provided are not really detailed enough for me to follow what you are doing and what the connector is doing. Could you elaborate when exactly you are performing each of the given steps? Saying "Xth call to elastic" doesn't really give us much to work with.

[2018-02-07 20:38] jbaiera commented on #664
@Uditmittal Can you provide some test data that reproduces this? I'll have a look at it.

[2018-02-08 05:24] Uditmittal commented on #664
@jbaiera  here is my schema information.
root
 |-- FileName_global: string (nullable = true)
 |-- RouteOnAttribute: struct (nullable = true)
 |    |-- Route: string (nullable = true)
 |-- absolute: struct (nullable = true)
 |    |-- path: string (nullable = true)
 |-- bucketname: string (nullable = true)
 |-- created_at: timestamp (nullable = true)
 |-- created_by: string (nullable = true)
 |-- de

[2018-02-08 05:29] Uditmittal commented on #664
And test data is here..
{
  "_index": "fatom-prod-file-lineage",
  "_type": "json",
  "_id": "AWFxn08rU5D50cwQJZVL",
  "_score": 2,
  "_source": {
    "file_raw_loc": "raw/banklife-edw/TABLE/TABLE-2018-02-07-1518029232674",
    "sqs.receipt.handle": "AQEBJNgk/KIV+3zBohUld20y+UJPx2ZnWmMuZq9hU5WRf8THVo5hwMPiAblj67hLc67Ff5TKf4vCvAn+Zf9w13GsWlt5AMMnfrfoeW0V2Lrdc88dbTpDM4vZGVW2C/DUAm4DvfR+iphawWym7LRNm

[2018-02-08 16:33] jbaiera opened #1106 "Upgrade to Gradle 4.5"
Elasticsearch Core is on the Gradle 4.5 line now. We should upgrade to match with them.

[2018-02-08 19:24] #1106 closed

[2018-02-08 19:44] jbaiera opened #1107 "Automatically sense if schema field should be array based on user schema"
As it stands, `es.read.field.as.array.include` is only ever set by users, and is required to signal to the connector that a field should be both included in the serialization logic, as well as treated as an array of values of the field type. When a user specifies a Spark Schema that includes a field in it that is an array, we should simply pull that field name and set it in the configuration as in

[2018-02-13 21:13] jbaiera commented on #1055
More specifically: Setting `es.index.read.missing.as.empty` should set `ignore_unavailable` for the multi-index rest actions.

[2018-02-13 23:32] acchen97 opened #1109 "ES-Hadoop 6.3 Release"
Tracking high level features for the 6.3 release:
- [ ] Spark 2.3 support
- [ ] Misc bug fixes

[2018-02-13 23:36] acchen97 opened #1110 "ES-Hadoop 6.4 Release"
Tracking high level features for the 6.4 release:
- [x] Secure storage for sensitive credentials - https://github.com/elastic/elasticsearch-hadoop/pull/1174
- Error Handlers - beta-to-GA
  - [x] Expose handlers for inputs and serialization errors - https://github.com/elastic/elasticsearch-hadoop/pull/1149
  - [x] Elasticsearch dead letter handler - https://github.com/elastic/elasticsearch-hadoop/p

[2018-02-14 20:30] #1082 closed

[2018-02-14 20:46] jbaiera commented on #1086
I'm going to go ahead and close this out unless there's any further issues. I assume that the bug mentioned above was the leading cause. Let us know if we should re-open this issue.

[2018-02-14 20:46] #1086 closed

[2018-02-16 15:44] PowerToThePeople111 commented on #1044
I have the very same problem. I have nested fields which I included into `es.read.field.as.array.include`. Those fields then have the problem of not getting matched correctly.

I use:
ES-Spark: 6.2.1
JVM: Oracle Java 8
Spark: 2.1.1 (with Scala 2.11)
ES: 5.2.0

[2018-02-16 21:19] #1030 closed

[2018-02-16 21:25] #1084 closed

[2018-02-26 21:25] gridcellcoder opened #1112 "Spark ES API error cause not being reported"
### What kind an issue is this?

- [ X ] Bug report. If you’ve found a bug, please provide a code snippet or test to reproduce it below.
    The easier it is to track down the bug, the faster it is solved.
- [ ] Feature Request. Start by telling us what problem you’re trying to solve.
    Often a solution already exists! Don’t send pull requests to implement new features without
    first getting

[2018-02-27 18:06] ebuildy commented on #862
To see the Spark scala version, run ``spark-shell`` (since ``spark-submit --version`` doesnt display it).

[2018-02-28 12:17] Srinathc commented on #1055
Facing this issue currently. Have two indices in my query path one of which doesn't exist. Inspite of setting es.index.read.missing.as.empty to true the connector returns an empty data frame. Would expect it to behave as if "ignore_unavailable" is specified.

[2018-03-04 12:44] devurandom commented on #1083
@jbaiera Since Elastic's users are at a significant risk until all repositories are secured, would it be possible to host a verified copy of the Cascading artifacts on e.g. Clojars, until Cascading / Concurrent, Inc. / Driven, Inc. / Xplenty, Inc. can fix their infrastructure?

[2018-03-04 14:08] saggineumann commented on #1083
@devurandom SSL support was added to https://www.conjars.org/ on Feb 20

[2018-03-04 23:42] jbaiera commented on #1083
I've just pushed an update that clears up the http usage with conjars repo.

[2018-03-05 11:59] alrutten commented on #1055
similar issue. Fetching data using spark-sql throws and exception when an index does not exist, in stead of continuing with the next index when `es.index.read.missing.as.empty` is set to `true`.

ES options:
`val elasticSearchOptions = Map(
		ConfigurationOptions.ES_NODES -> "node01, node02",
		ConfigurationOptions.ES_PORT -> esPort,
		ConfigurationOptions.ES_INDEX_AUTO_CREATE -> "yes",
		Configur